<head>
  <title>Mamata Printers</title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
 
</head>
<!-- header -->
<div class="header">
  <div class="container">
    <div class="header-grid">
      <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
        <ul>
          <li>
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
            <a href="mailto:info@example.com">mamatapress1998@gmail.com</a>
          </li>
          <li>
            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91 891
            <span>2751</span> 937</li>
          <li class="active" *ngIf="!currentUser">
            <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
            <a (click)="navigateToLoginPage()" style="cursor: pointer;">Login</a>
          </li>
          <li *ngIf="!currentUser">
            <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
            <a (click)="navigateToRegisterPage()"  style="cursor: pointer;">Register</a>
          </li>
          <li class="active" *ngIf="currentUser" style="float: right;">
            <div style="float:left;"><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> 
            <a (click)="logout()" style="cursor: pointer;">Logout</a></div>
            <div style="float: left; margin-left: 10px;">
               <h4 *ngIf="currentUser">{{currentUser.email}}</h4></div>
          </li>
          
        </ul>
      </div>
      
      <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
         
        <ul class="social-icons">
          <li>
            <a (click)="signInWithFB()" style="cursor: pointer" class="facebook"></a>
          </li>
          <!-- <li>
            <a href="#" class="twitter"></a>
          </li> -->
          <li>
            <a (click)="signInWithGoogle()" style="cursor: pointer" class="g"></a>
          </li>
          <li>
            <a (click)="signInWithLinkedin()" style="cursor: pointer" class="instagram"></a>
          </li>
        </ul>
      </div>
     
      <div class="clearfix"> </div>
    </div>
    <div class="logo-nav">
      <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
        <h1>
          <a routerLink="/home"><img src="assets/logo-new.png">
            <span>Mother Care In Printing</span>
          </a>
        </h1>
      </div>
      <div style="margin-left: 15em"class="logo-nav-left1">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul  class="nav navbar-nav">
              <li>
                <a [routerLink]="['/home']">Home</a>
              </li>
              <!-- Mega Menu -->
              <li class="dropdown">
                <a  href="#" class="dropdown-toggle" data-toggle="dropdown">Products
                  <b  class="caret"></b>
                </a>
                <ul  class="dropdown-menu multi-column" >
                  <div class="row">
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <!-- <h6 style="width: 10em;padding: 1em;">Visiting Cards</h6> -->
                        <li >
                          <a (click)="productsInCatagory(categoryList[0])"  style="cursor: pointer;width: 10em;padding-left: 1em;text-transform: capitalize;font-size: 1.1em"><p id="business">Business Cards</p> </a>
                        </li>

                        <li >
                          <a (click)="productsInCatagory(categoryList[1])"  style="cursor: pointer;width: 10em;padding-left: 1em;text-transform: capitalize;font-size: 1.1em"><p id="personal">Personal Cards</p></a>
                        </li>

                      </ul>
                    </div>
                    <!-- <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Letters Heads</h6>
                        <li>
                          <a href="products.html">Professional </a>
                        </li>
                        <li>
                          <a href="products.html">Corporate</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Invitations</h6>
                        <li>
                          <a href="products.html">Wedding Invitations</a>
                        </li>
                        <li>
                          <a href="products.html">Birthday Invitations</a>
                        </li>
                        <li>
                          <a href="products.html">Anniversary Invitations</a>
                        </li>
                        <li>
                          <a href="products.html">Tent Cards</a>
                        </li>
                        <li>
                          <a href="products.html">Greeting Cards</a>
                        </li>
                      </ul>
                    </div> -->
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marketing Materials
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Brochures</h6>
                        <li>
                          <a href="furniture.html">Glossy</a>
                        </li>
                        <li>
                          <a href="furniture.html">Matte</a>
                        </li>
                        <li>
                          <a href="furniture.html">Shiny</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Flyers</h6>
                        <li>
                          <a href="furniture.html">Carpets</a>
                        </li>
                        <li>
                          <a href="furniture.html">Tables</a>
                        </li>
                        <li>
                          <a href="furniture.html">Sofas</a>
                        </li>
                        <li>
                          <a href="furniture.html">Shoe Racks</a>
                        </li>
                        <li>
                          <a href="furniture.html">Sockets</a>
                        </li>
                        <li>
                          <a href="furniture.html">Electrical Machines</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Decorations</h6>
                        <li>
                          <a href="furniture.html">Toys</a>
                        </li>
                        <li>
                          <a href="furniture.html">Wall Clock</a>
                        </li>
                        <li>
                          <a href="furniture.html">Lighting</a>
                        </li>
                        <li>
                          <a href="furniture.html">Top Brands</a>
                        </li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li> -->
              <!-- <li class="dropdown">
                <a  href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
                  <b  class="caret"></b>
                </a>
                <ul  class="dropdown-menu multi-column" >
                  <div class="row">
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <li >
                          <a routerLink="/admin" style="cursor: pointer;width: 10em;padding-left: 1em;text-transform: capitalize;font-size: 1.1em"><p id="business">DashBoard</p> </a>
                        </li>

                        <li >
                          <a routerLink="/categoryadd" style="cursor: pointer;width: 10em;padding-left: 1em;text-transform: capitalize;font-size: 1.1em"><p id="personal">Add Category</p></a>
                        </li>
                        <li >
                          <a routerLink="/productupload" style="cursor: pointer;width: 10em;padding-left: 1em;text-transform: capitalize;font-size: 1.1em"><p id="personal">Add Product</p></a>
                        </li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li> -->
              <!--Admin Menu Start-->
              <!-- <li class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu multi-column columns-2">
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="multi-column-dropdown">
                        <h6>Admin Info</h6>
                        <li>
                          <a routerLink="/admin" style="cursor: pointer;">DashBoard</a>
                        </li>

                        <li>
                          <a  routerLink="/categoryadd" style="cursor: pointer;">Add Category</a>
                        </li>
                        <li>
                          <a routerLink="/productupload" style="cursor: pointer;">Add Product</a>
                        </li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li> -->
             <!--Admin Menu End-->
              <!-- <li>
                <a href="short-codes.html">Stationary</a>
              </li> -->
              <!-- <li>
                <a href="mail.html">Mail Us</a>
              </li> -->
              
            </ul>
          </div>
        </nav>
      </div>
      <div class="logo-nav-right">
        <div class="search-box">
          <div id="sb-search" class="sb-search">
              <input  placeholder="Enter your search term..." type="text" id="search">
              <input  type="submit" value="">
              <span class="sb-icon-search"> </span>
          </div>
        </div>
        <!-- search-scripts -->
        <script src="./assets/js/classie.js"></script>
        <script src="./assets/js/uisearch.js"></script>
        <script>
          new UISearch(document.getElementById('sb-search'));
        </script>
        <!-- //search-scripts -->
      </div>
      <div style="margin-top: 0.5em" class="header-right">
        <div class="cart box_1">
         <a [routerLink]="['/cart']">
            <h3 class="row">
              <p >
                  <img src="assets/bag.png" alt="" /> &nbsp;
                  <span style="margin-top: 0.5em" class="simpleCart_empty"><strong >(4)</strong></span>
                  <!-- <span class="simpleCart_empty"><strong>₹{{bill}}</strong></span> -->
                  <!-- <strong>₹{{bill}}</strong>
                  <span class="simpleCart_empty" *ngIf="cartProductLength < 1" > 0 </span> -->
                </p>
            </h3>
           
          </a> 
         
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //header -->
