 <!-- footer -->
 <div class="footer">
  <div class="container">
      <div class="footer-grids">
          <div id="first" class="col-md-3 footer-grid animated wow " data-wow-delay=".5s">
              <h3>About Us</h3>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.
                  <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</span>
              </p>
          </div>
          <div id="second" class="col-md-3 footer-grid animated wow " data-wow-delay=".6s">
              <h3>Contact Info</h3>
              <ul>
                  <li>
                      <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> #31-33-120, Assam Gardens,
                      
                      <span>Visakhapatnam - 530020, Andhra Pradesh, India.</span>
                  </li>
                  <li>
                      <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                      <a href="mailto:info@example.com">mamatapress1998@gmail.com</a>
                  </li>
                  <li>
                      <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91-891-2751937, 38</li>
              </ul>
          </div>
          <!-- <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
              <h3>Flickr Posts</h3>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/13.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/14.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/15.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/16.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/13.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/14.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/15.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/16.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/13.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/14.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/15.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="footer-grid-left">
                  <a href="single.html">
                      <img src="assets/16.jpg" alt=" " class="img-responsive" />
                  </a>
              </div>
              <div class="clearfix"> </div>
          </div> -->
          <!-- <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
              <h3>Blog Posts</h3>
              <div class="footer-grid-sub-grids">
                  <div class="footer-grid-sub-grid-left">
                      <a href="single.html">
                          <img src="assets/9.jpg" alt=" " class="img-responsive" />
                      </a>
                  </div>
                  <div class="footer-grid-sub-grid-right">
                      <h4>
                          <a href="single.html">culpa qui officia deserunt</a>
                      </h4>
                      <p>Posted On 25/3/2016</p>
                  </div>
                  <div class="clearfix"> </div>
              </div>
              <div class="footer-grid-sub-grids">
                  <div class="footer-grid-sub-grid-left">
                      <a href="single.html">
                          <img src="assets/10.jpg" alt=" " class="img-responsive" />
                      </a>
                  </div>
                  <div class="footer-grid-sub-grid-right">
                      <h4>
                          <a href="assets.html">Quis autem vel eum iure</a>
                      </h4>
                      <p>Posted On 25/3/2016</p>
                  </div>
                  <div class="clearfix"> </div>
              </div>
          </div>
          <div class="clearfix"> </div>
      </div> -->
      </div>
    </div>
<div>
      <!-- <div  class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
          <h2>
              <a href="index.html">Mamatha Press
                  <span>shop anywhere</span>
              </a>
          </h2>
      </div> -->
      <div class="copy-right animated wow " data-wow-delay=".5s">
          <p>© 2019 MAMATA PRESS. ALL RIGHTS RESERVED | Design by
              <a href="https://rqbtechnologies.com/">RQB Technologies Pvt LTD</a>
          </p>
      </div>
  </div>
<!-- //footer -->