<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <app-header>
</app-header> -->
<div class="breadcrumbs">
  <div class="container">
    <div class="col-md-8">
      <ol class="breadcrumb breadcrumb1 animated wow " data-wow-delay=".5s">
        <li>
          <a routerLink="/home">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
        </li>
        <li class="active">Products</li>
      </ol>
    </div>
  </div>
</div>
<div>
<div class="container" style="margin-top:2%;">
  <!-- <div class="logo-nav">
    <alert></alert>
  </div> -->
    
    <div class="col-md-5 single-right-left animated wow " data-wow-delay=".5s">
      
      <div class="flexslider">
        <pinch-zoom style="height: auto">
          <img src="{{imagePresent}}" />
        </pinch-zoom>
      </div>
      <div id="section">
        <ul class="sliding">
          <li>
            <a style="cursor: pointer;" (click)=position(currentImage) class="product-image">
              <img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{currentImage}}"
                style=" max-width:3.2em !important;max-height: 3.2em !important;" alt="Product Image"
                class="img-responsive">
            </a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)=position(currentImage1) class="product-image">
              <img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{currentImage1}}"
                style=" max-width:3.2em !important;max-height: 3.2em !important;" alt="Product Image"
                class="img-responsive">
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="col-md-7 simpleCart_shelfItem animated wow " data-wow-delay=".5s">
      <div class="icon-bar">
        <a  class="facebook"><span class="fa fa-facebook"></span></a> 
        <a  class="twitter"><span class="fa fa-twitter"></span></a> 
        <a  class="google"><span class="fa fa-whatsapp"></span></a> 
        <a  class="linkedin"><span class="fa fa-instagram"></span></a>
        <!-- <a  class="youtube"><i class="fa fa-youtube"></i></a>  -->
      </div>
      <h3>{{productDetails.card_name}}</h3>
      
      <div class="rating1">
        <span class="starRating">
          <input id="rating5" type="radio" name="rating" value="5">
          <label for="rating5">5</label>
          <input id="rating4" type="radio" name="rating" value="4">
          <label for="rating4">4</label>
          <input id="rating3" type="radio" name="rating" value="3" checked>
          <label for="rating3">3</label>
          <input id="rating2" type="radio" name="rating" value="2">
          <label for="rating2">2</label>
          <input id="rating1" type="radio" name="rating" value="1">
          <label for="rating1">1</label>
        </span>
      </div>
      <h4 class="descriptio"><i>Description</i></h4>
      <p class="descriptio">{{productDetails.description}}</p>
      
      <h4 class="descriptio">Color :</h4>
      <div class="color-quality">
        <div class="color-quality-left">
          <ul>
            <li style="cursor:pointer;" *ngFor="let colorCode of productDetails.card_images;let i=index;"
              [style.color]="colorCode.card_color" (click)="changeImg(colorCode.card_color,i)">
              <a><span class="colors" style="border-radius: 50% ;width:2em;height:2em;"
                  [style.background-color]="colorCode.card_color"></span></a>
              </li>
          </ul>
        </div>
      </div>
      <!-- <ul class="uii">
          <li class="lii">
              <input class="inputss" type='radio' checked value='Matte' name='radio' id='radio1'/>
              <label for='radio1'>Matte</label>
          </li>
          <li class="lii">
              <input class="inputss" type='radio' value='Glossy' name='radio'  id='radio2'/>
              <label for='radio2'>Glossy</label>
          </li>
          <li class="lii">
              <input class="inputss" type='radio' value='Velvet touch' name='radio'  id='radio3'/>
              <label for='radio3'>Velvet touch</label>
          </li>
          <li class="lii">
              <input class="inputss" type='radio' value='Non-tearable' name='radio'  id='radio4'/>
              <label for='radio4'>Non-tearable</label>
          </li>
      </ul> -->
      <h4 style="margin-top:3em">Quantity :  <button type="button" class="btn btn-secondary" (click)="decrease()">-</button><input class="btn" style="font-size: 20px;padding: 0" readonly="readonly" type="number" [(ngModel)]="quant" min="50" max="1000" ><button type="button" class="btn btn-secondary" (click)="increase()">+</button> </h4>
      <h4 class="item_price">
          <span class="item_price">Price : ₹ {{productDetails.actual_price* (quant/50)}}/-</span>
      </h4>
      <h4 style="margin-top: 3em;margin-bottom: 1em">Paper stock :</h4>
      <form (ngSubmit)="editing(productDetails,f)" #f="ngForm">
          <ul class="donate-now">
              <li>
                  <input type="radio" id="a25" value="Matte" name="paper_stock" [(ngModel)]="simha" />
                  <label for="a25">Matte</label>
              </li>
              <li>
                  <input type="radio" id="a50" value="Glossy" name="paper_stock" [(ngModel)]="simha" />
                  <label for="a50">Glossy</label>
              </li>
              <li>
                  <input type="radio" id="a75" name="paper_stock" value="Velvet touch" [(ngModel)]="simha"  />
                  <label for="a75">Velvet touch</label>
              </li>
              <li>
                  <input type="radio" id="a100" value="Non-tearable" name="paper_stock" [(ngModel)]="simha" />
                  <label for="a100">Non-tearable</label>
              </li>
          </ul>
          <br>
      <h4 style="margin-top:3em">Paper Quality :</h4>
      <ul class="donate-now1">
          <li>
              <input type="radio" id="a251" value="Standard" name="paper_quality" [(ngModel)]="simha1"/>
              <label for="a251">Standard</label>
          </li>
          <li>
              <input type="radio" id="a501" value="Premium" name="paper_quality" [(ngModel)]="simha1" />
              <label for="a501">Premium</label>
          </li>
      </ul>
      <br />
      
      
      <div class="occasion-cart" style="margin-top:20px;margin-bottom: 1.4em">
        <button class="btn btn-primary btn-sm" type="submit" data-toggle="modal" >Edit Here  ! </button>
        <!-- <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#basicModal">add to cart </button> -->
      </div>
      </form>
      
      <!-- <select class="selectpicker">
        <option value="Matte">Matte</option>
        <option value="Glossy">Glossy</option>
        <option value="Velvet touch">Velvet touch</option>
        <option value="Non-tearable">Non-tearable</option>
      </select> -->
      
      
      
      <!-- <div class="social" style="margin-bottom: 2%">
        <div class="social-left" style="margin-top: -2%">
          <p>Share On :</p>
        </div>
        <div class="social-right" style="margin-top: -2%">
          <ul class="social-icons">
            <li>
              <a href="#" class="facebook"></a>
            </li>
            <li>
              <a href="#" class="twitter"></a>
            </li>
            <li>
              <a href="#" class="g"></a>
            </li>
            <li>
              <a href="#" class="instagram"></a>
            </li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div> -->
    </div>
</div>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title w-100 font-weight-bold">Product Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12" style="margin-bottom: 10px">
            <input [(ngModel)]="data.name" type="text" placeholder="Name" class="form-control validate">
          </div>
          <div class="col-lg-12" style="margin-bottom: 10px">
            <input [(ngModel)]="data.email" type="email" placeholder="Email" class="form-control validate">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" style="margin-bottom: 10px">
            <input [(ngModel)]="data.address" type="text" ng-model="Address" placeholder="Address"
              class="form-control validate">
          </div>
          <div class="col-lg-12" style="margin-bottom: 10px">
            <input type="email" [(ngModel)]="data.paperType" placeholder="Paper Type" class="form-control validate">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" style="margin-bottom: 10px">
            <input type="file" accept="image/*" (change)="changeListener($event)"
              [(ngModel)]="data.comapanyLogoImgBase64Data" placeholder="Company Logo" class="form-control validate">
          </div>
          <div class="col-lg-12" style="margin-bottom: 10px">
            <input type="email" [(ngModel)]="data.comapanyLogoImgName" placeholder="Company Logo Name"
              class="form-control validate">
          </div>
        </div>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="SendProductDetails();" class="btn btn-primary btn-sm"
          data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"> </div>
<!-- single-related-products -->
<div class="single-related-products">
  <div class="container">
    <h3 class="animated wow " data-wow-delay=".5s">Related Products</h3>
    <p class="est animated wow " data-wow-delay=".5s">Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia
      deserunt mollit anim id est laborum.</p>
    <div>
        <div class="flex1">
            <div class="flex2" style="margin-top:15%;margin-right: 2%">
                <div style="cursor: pointer" title="Move Backward" (click)="back()"><img class="hovering"src="../../assets/images/nav-icon1.png" style="background-color: white;float: left;margin-left: -24px;max-height: 3.5em;max-width:3.5em"></div>
            </div>
            <div class="felx3">
                <div class="new-collections-grids">
                    <div *ngFor="let reletiveProduct of relativeProducts;let i=index">
                        <div class="col-md-3 new-collections-grid animated wow" data-wow-delay="1s"*ngIf="next>=i && i>=prev">
                            <div class="new-collections-grid1   ">
                              <div class="new-collections-grid1-image">
                                <a (click)="quickView(reletiveProduct)" style="cursor: pointer" class="product-image"><img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{reletiveProduct.card_images[0].images[0]}}" alt=" " class="img-responsive"></a>
                                <!-- <div class="new-collections-grid1-image-pos">
                                  <a href="single.html">Quick View</a>
                                </div>
                                <div class="new-collections-grid1-right">
                                  <div class="rating">
                                    <div class="rating-left">
                                      <img src="assets/2.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                      <img src="assets/2.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                      <img src="assets/1.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                      <img src="assets/1.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                      <img src="assets/1.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="clearfix"> </div>
                                  </div>
                                </div>  -->
                              </div>
                              <h4 style="text-transform: capitalize"><a style="cursor: pointer;text-transform: capitalize" (click)="quickView(reletiveProduct)">{{reletiveProduct.card_name}}</a></h4>
                              <!-- <p>Vel illum qui dolorem eum fugiat.</p> -->
                              <div class="new-collections-grid1-left simpleCart_shelfItem">
                                <p><span class="item_price">₹{{reletiveProduct.actual_price}}</span>
                                  <!-- <a class="item_add" href="#">add to cart </a> -->
                                </p>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
            </div>
            <div class="flex2" style="margin-top:15%;margin-left: 1%;">
              <div style="cursor: pointer" title="Move Forward" (click)="front()"><img class="hovering" src="../../assets/images/nav-icon.png" style="background-color: white;float: left;max-height: 3.5em;max-width:3.5em"></div>
            </div>
          </div>
    </div>
    
    
  </div>
</div>
<!-- //single-related-products -->

<app-footer></app-footer>