.btn-primary{
    font-size: 14px !important;
    color: #D8703F !important;
    margin: 0 !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    padding: .5em 1em !important;
    border: 1px solid !important;
    background: #FFF !important;
    border-radius: 0px !important;
}

.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background:#d8703f;
    color: #FFF;
}
.colors:hover{
    border-radius: 50% ;
    width:2.5em;
    height:2.5em;
}
#section {
	width: 82%;
	 /* margin: 15px auto 0 auto; */
	  padding: 2%;
	  display:table;
	  
	}
  #section ul li
  {
	  display:table-cell;
	  justify-content: center;
  }
  #section ul li a img{
	margin: 1em
}

.item_price{
  padding-top: 1em;
}
.rating1{
  padding-top: 1em;
}
.descriptio{
  padding-top: 0.8em;
}
.occasion-cart{
  padding-top: 1em;
}
.social{
  padding-top: 1em;
}
.color-quality{
  padding-top: 1em;
}


@media screen and (max-width: 811px) {
  .single-right-left{
    width: 100vh;
  }
}
@media screen and (min-width: 900px) {
  .column{
    display: flex
  }
  .single-right-left{
    flex: 1;
  }
  .simpleCart_shelfItem{
    flex: 1;
  }
}
pinch-zoom{
  max-height: 65%;
  max-width: 65%;
}
.new-collections-grid1{
  max-height: 16em;
  min-height: 16em;
}
.flex1{
  display: flex;
}
.flex2{
  flex: 1;
}
.flex3{
  flex: 10;
}
.hovering:hover{
  box-shadow: 0px 2px 2px 0px;
}
@media screen and(min-width:200px ) , screen and ( max-width:443px){
  pinch-zoom{
    max-width: 40%;
  }
}
.icon-bar {
  /* flex: 1; */
  position: sticky;
  top: 35%;
  margin-left:100% ;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
  
  /* position: sticky;  */
  /* position: -webkit-sticky; */
  /* background: #f83d23; */
  /* width: 100px; */
  /* height: 100px; */
  /* top:50%;
  margin-left: 65%; */
  
  /* display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #000;
  color: #fff; */
}

.icon-bar a {
  display: block;
  min-width: 2.2em;
  max-height: 2em;
  min-height: 2em;
  /* max-width: 2em; */
  padding: 0.5em;
  text-align: center;
  transition: all 0.3s ease;
  color: white !important;
  font-size: 1.1em;
  /* margin: 0.5em; */
}


.icon-bar a:hover {
  cursor: pointer;
  border-radius: 4px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  /* width: 3em */
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #08bb58;
  color: white;
}

.linkedin {
  background: #C13584;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
/* .youtube:hover{
  width: 3em;
} */
.col-md-7{
  margin-top: -110px;
}
.container{
  width: 98%;
}
@media only screen and(min-width:716px), screen and (max-width:800px){
  .col-md-7{
    /* margin-top: 14em; */
  }
}
@media (min-width: 716px) and (max-width: 800px) {
  /* html { background: red; } */
  /* margin-top : 4em; */
  .col-md-7{
    margin-top: 14em;
  }
}
@media (min-width:641px) and (max-width:685px){
  .fa-instagram{
    /* margin-left: -40px !important; */
  }
  .col-md-7{
    margin-top: -10em;
  }
}
.donate-now {
  list-style-type:none;
  margin:25px 0 0 0;
  padding:0;
}

.donate-now li {
  float:left;
  margin:5px 5px 0 0;
  width:140px;
  height:37px;
  position:relative;
  text-align: center;
  font-family: Courier New  ;
}

.donate-now label, .donate-now input {
 display:block;
 position:absolute;
 top:0;
 left:0;
 right:0;
 border-radius: 0.3em;
 bottom:0;
 background: white;
 color: rgba(8, 139, 63, 0.733);
 border: 1px solid rgba(255, 68, 0, 0.733);
}

.donate-now input[type="radio"] {
 opacity:0.01;
 z-index:100;
}

.donate-now input[type="radio"]:checked + label {
 /* background:rgba(255, 68, 0, 0.733); */
 border: 2px solid rgb(0, 162, 255);
 border-radius: 0.3em;
 color: rgb(0, 162, 255);
}

.donate-now label {
  padding:5px;
  border:1px solid #CCC; 
  cursor:pointer;
 z-index:90;
}
.donate-now1 {
  list-style-type:none;
  margin:25px 0 0 0;
  padding:0;
}

.donate-now1 li {
  float:left;
  margin:5px 5px 0 0;
  width:150px;
  height:40px;
  position:relative;
  font-family: Courier New  ;
  text-align: center;
}

.donate-now1 label, .donate-now1 input {
 display:block;
 position:absolute;
 top:0;
 left:0;
 right:0;
 border-radius: 0.3em;
 bottom:0;color: rgba(8, 139, 63, 0.733);
}

.donate-now1 input[type="radio"] {
 opacity:0.01;
 z-index:100;
}

.donate-now1 input[type="radio"]:checked + label {
  border: 2px solid rgb(0, 162, 255);
  border-radius: 0.3em;
  color: rgb(0, 162, 255);
}

.donate-now1 label {
  padding:5px;
  border:1px solid #CCC; 
  cursor:pointer;
 z-index:90;
}
