<!-- <app-header></app-header>
<input type='file' [disabled]='addImageFlag' accept="image/*" (change)="onSelectFile($event)">
<div class="form-group">
    <label for="desc">Color</label>
    <select [disabled]='addImageFlag' (change)="onColorSelect($event.target.value)" [(ngModel)]="selectedColorCode.code">
        <option *ngFor="let colorCode of colorCodes" value={{colorCode.code}}>
            {{colorCode.name}}
        </option>
    </select>
</div>
<button type="button" [disabled]='addImageFlag' data-toggle="modal" data-target="#basicModal" class="btn btn-success btn-s">
    (Choose Color and Image first)
</button>
<br>

<div class="form-group">
    <label for="price">price</label>
    <input type="text" [disabled]='!addImageFlag' class="form-control" id="price" required [(ngModel)]="price" name="price">
</div>

<div class="form-group">
    <label for="imgName">Image Name</label>
    <input type="text" [disabled]='!addImageFlag' class="form-control" id="imgName" required [(ngModel)]="imgName" name="imgName">
</div>
<div class="form-group">
    <label for="desc">Description</label>
    <input type="text" [disabled]='!addImageFlag' class="form-control" id="desc" required [(ngModel)]="desc" name="desc">
</div>

<div class="form-group">
    <label for="desc">Category</label>
    <select [disabled]='!addImageFlag' (change)="onSelect($event.target.value)" [(ngModel)]="selectedcategory">
        <option *ngFor="let category of categories" value={{category.id}}>
            {{category.catName}}
        </option>
    </select>
</div>

<button type="button" [disabled]='!addImageFlag' class="btn btn-success btn-s" (click)="addProduct()">
    Add Image
</button>
<span style="color: red" >{{errorMsg}}</span>

<div style="margin-bottom: 10px;"></div>
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> --

<!-- Modal --
<div class="modal fade" id="basicModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content --
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>If you want to add more Images please click Yes or else click No.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="saveImages()">No</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mamata Printers</title>
    <meta charset="utf-8" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
  
    
</head>
<div class="wrapper ">
    <div class="narasimha">
        <ng-sidebar-container style="height: 0vh" >
                <ng-sidebar class="container animated wow slideInUp" #sidebar [(opened)]="_opened" wow-delay="0.5">
                    <div class="sidebar" data-color="orange">
                        <div class="logo">
                                <a href="#">
                                    <img src="assets/logo-new.png">
                                </a>
                        </div>
                        <div class="sidebar-wrapper" style="margin-left: -1% !important;">
                            <ul class="nav">
                                <li>
                                    <a routerLink="/admin" style="cursor: pointer;">
                                        <i style="width: 2vw;height:2vw" class="glyphicon glyphicon-briefcase"></i>
                                        <p style="font-size: 1vw; text-transform:capitalize;">Dashboard</p>
                                    </a>
                                </li>
                
                                <li>
                                    <a routerLink="/categoryadd" style="cursor: pointer;">
                                        <i style="width: 2vw;height:2vw" class="glyphicon glyphicon-hdd"></i>
                                        <p style="font-size: 1vw; text-transform:capitalize;">Add Category</p>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/productupload" style="cursor: pointer;">
                                        <i style="width: 2vw;height:2vw" class="glyphicon glyphicon-upload"></i>
                                        <p style="font-size: 1vw; text-transform:capitalize;">Add Product</p>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    
                </ng-sidebar>
                <div ng-sidebar-content>
                        
                </div>
        </ng-sidebar-container>
    </div>
    <div [ngClass]="className" style="overflow-x: hidden; overflow-y: auto;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
            <div class="container-fluid">
                <div style="display: inline-block;cursor: pointer;" class="container1" (click)="open(sidebar)" >
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                </div>
                <div class="navbar-wrapper" style="margin-right:40%">
                    <a class="navbar-brand" href="#pablo">Add Product</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <form>
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </span>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <i class="now-ui-icons media-2_sound-wave"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Stats</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="now-ui-icons location_world"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Some Actions</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="logout()" style="cursor: pointer;">
                                <i class="now-ui-icons users_single-02"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Account</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Add Product</h5>
                            <p class="category">Created using Montserrat Font Family</p>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <input type='file' class="form-group" [disabled]='addImageFlag' accept="image/*" (change)="onSelectFile($event)">
                                <div class="form-group">
                                    <label for="desc">Color</label>
                                    <select [disabled]='addImageFlag' (change)="onColorSelect($event.target.value)" [(ngModel)]="selectedColorCode.code">
                                        <option *ngFor="let colorCode of colorCodes" value={{colorCode.code}}>
                                            {{colorCode.name}}
                                        </option>
                                    </select>
                                </div>
                                <button style="margin-right:10px; margin-left:10px;" type="button" [disabled]='addImageFlag' data-toggle="modal" data-target="#basicModal"
                                    class="btn btn-success btn-s" (click)="saveImages() ">
                                    ok
                                </button>
                                <br>

                                <div class="form-group">
                                    <label for="price">price</label>
                                    <input type="text" [disabled]='!addImageFlag' class="form-control" id="price" required [(ngModel)]="price" name="price">
                                </div>

                                <div class="form-group">
                                    <label for="imgName">Image Name</label>
                                    <input type="text" [disabled]='!addImageFlag' class="form-control" id="imgName" required [(ngModel)]="imgName" name="imgName">
                                </div>
                                <div class="form-group">
                                    <label for="desc">Description</label>
                                    <input type="text" [disabled]='!addImageFlag' class="form-control" id="desc" required [(ngModel)]="desc" name="desc">
                                </div>

                                <div class="form-group">
                                    <label for="desc">Category</label>
                                    <select [disabled]='!addImageFlag' (change)="onSelect($event.target.value)" [(ngModel)]="selectedcategory">
                                        <option *ngFor="let category of categories" value={{category.id}}>
                                            {{category.catName}}
                                        </option>
                                    </select>
                                </div>

                                <button type="button" [disabled]='!addImageFlag' class="btn btn-success btn-s" (click)="addProduct()">
                                    Add Image
                                </button>
                                <span style="color: red">{{errorMsg}}</span>

                                <div style="margin-bottom: 10px;"></div>
                              
                                <!-- <div class="modal fade" id="basicModal" role="alertdialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Modal Header</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>If you want to add more Images please click Yes or else click No.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="saveImages()">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <app-footer></app-footer>
        </footer>
    </div>
</div>



</html>