<app-header>
</app-header>
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li>
          <a href="index.html">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
        </li>
        <li class="active">Cart</li>
      </ol>
    </div>
  </div>
<!-- checkout -->
<div class="checkout">
		<div class="container">
			<h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart contains: <span *ngIf="cartProducts">{{cartProducts.length}} Products</span></h3>
			<div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
				<table class="timetable_sub" >
					<thead>
						<tr>
							<th>SL No.</th>	
							<th>Product</th>
							<th>Quality</th>
							<th>Product Name</th>
							<th>Price</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tr class="rem1" *ngFor="let item of cartProducts;let i=index">
						<td class="invert">{{i + 1}}</td>
						<td class="invert-image"><a href="single.html">
              <img [src]="item.imgBase64Data[0]" style= "width:80px;height:80px!important;" alt=" " class="img-responsive" /></a></td>
						 <td class="invert">
							 <div class="quantity edit-cart-container"> 
                  <input (change)="updateTotal()" style="width: 100px" [(ngModel)]="item.qty" type="number" class="form-control">					
							</div> 
            </td>             
						<td class="invert">{{item.imgName}}</td>
						<td class="invert">₹{{item.price*item.qty}}</td>
						<td class="invert" data-toggle="modal" data-target="#basicModal" (click)="removeItem(item.id)">
							 <div class="rem">
								<div class="close1"></div>
							</div> 						
						</td>
					</tr>							
				</table>
			</div>
			<div class="checkout-left">	
				<div class="checkout-left-basket animated wow slideInLeft"  data-wow-delay=".5s">
         
          <a (click)="goBackToHomePage()"  style="cursor: pointer;"> <span class="glyphicon glyphicon-menu-Left" aria-hidden="true"></span><h4>Continue shopping</h4></a>
          
					<ul *ngFor="let item of cartProducts;let i=index">
						<li>{{item.imgName}} <i>-</i> <span>{{item.price*item.qty}} </span></li>
          </ul>
         <span>Total</span> - <span> <strong>₹{{bill}}</strong></span>
				</div>
				<div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
					<a  (click)="goToOrderProgressPage()" style="cursor: pointer;">CHECK OUT  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="basicModal" role="dialog">
	<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content modal-dialog-center">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Confiramtion?</h4>
					</div>
					<div class="modal-body">
							<p>Do You want to remove product?</p>
					</div>
					<div class="modal-footer">
							<button type="submit" class="btn btn-primary btn-sm" (click)="removeItemRow()" data-dismiss="modal">Yes</button>
							<button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">No</button>
					</div>
			</div>
	</div>
</div>
<!-- //checkout -->
<app-footer></app-footer>