.imag{
    /* margin: 10vh 10vw 10vh 10vw; */
     /* min-width: 10vw !important; */
    /* min-height: 8vh !important; */
     max-width: 14vw !important;
    max-height: 10vh !important; 
}
.images{
    margin: 0 0 3vh 0;
    min-width: 400px !important ;
    max-width: 40vw;
    height: auto;
}
.container-fluid{
    max-width: 97%;;
}
.cart{
    width: 100%;
    border: 1px solid rgb(202, 103, 32);
    color: rgb(202, 103, 32);
    font-size: 20px;
}
.cart:hover{
    color: white;
    background-color: rgb(202, 103, 32);
    border: 1px solid rgb(255, 255, 255);

}
.first{
    display: flex;
}
.one{
    flex: 2;
}
.two{
    flex: 1;
}
.three{
    flex: 2;
}
.preview{
    border: 1px solid rgb(11, 243, 243);
    color: rgb(11, 243, 243);
    background-color: #fff;
}
.preview:hover{
    color: white;
    background-color: rgb(11, 243, 243);
    border: 1px solid rgb(255, 255, 255);

}
.second{
    display: flex;
}
.second-1
{
    flex: 0.3;
}
.second-2{
    flex: 1.3;
    
}
.second-3{
    flex: 1;
}
.new-collections-grid1{
    max-height: 16em;
    min-height: 16em;
  }
  .flex1{
    display: flex;
  }
  .flex2{
    flex: 1;
  }
  .flex3{
    flex: 10;
  }
  .hovering:hover{
    box-shadow: 0px 2px 2px 0px;
  }
.equal-height-container{
    display: flex;
}
.firsts{
    flex: 1;
    padding: 0.2em;
}
.seconds{
    flex: 1;
    padding: 0.2em;
    /* display: flex; */
    /* flex-direction: column; */
}
.seconds-a{
    flex: 1;
}
.seconds-b{
    flex: 1;
}
.details p{
    padding: 2%;
}
.modal-dialog{
    width: 60% !important;
}