<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid" style="margin-top: 10vh">
  <div class="row">
      <div class="col-xl-3">
        
      </div>
      <div class='col-xl-9'>
          <!-- <canvas id="canvas"></canvas> -->
          
  
          <div class="row" >
              <div class="col-md-2 col-sm-2" >
                      <h3>Categories</h3> 
                      <hr>
                      <div  *ngFor="let categoryLists of categoryList;let i=index">
                            <a style="text-transform: capitalize;cursor:pointer" (click)="productsInCatagory(categoryLists)"class="info">{{categoryLists.sub_category_name}} </a>
                      </div>
              </div>
              <div class="col-md-7 col-sm-7" >
                  <img class="images" src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{image}}" alt="">
                  <div class="first">
                          <div class="one" >
                            <a style="cursor: pointer;margin: 0 0 0 3em"  (click)='front()'><img src='https://mamata-card-images.s3.us-east-2.amazonaws.com/{{frontimage}}' class="img-thumbnail imag "></a> 
                            <a style="cursor: pointer;margin: 0 2em 0 1em"  (click)="back()"><img  src='https://mamata-card-images.s3.us-east-2.amazonaws.com/{{backimage}}' class="img-thumbnail imag "></a>  
                          </div> 
                          
                          <div class="three" style="margin-top: 2vh">
                            <button class="btn preview pull-left " (click)="rasterize()"><i class="fa fa-eye"></i> Preview</button>
                          </div>
                  </div>
                  <div class="row second" style="margin-top:1em">
                      <div class="second-1"></div>
                      <div class="second-2" >
                              <button class="btn pull-center cart" data-toggle="modal" data-target="#basicModal" (click)="rasterize()">Add to cart</button>
                      </div>
                      <div class="second-3"></div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">

              </div>
          </div>
      </div>
      <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title w-100 font-weight-bold">Preview</h4>
          </div>
          <div class="modal-body equal-height-container">
            <div class="firsts">
                <img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{frontimage}}" class="rounded mx-auto d-block img-thumbnail"  alt="">
                <h4 style="text-align: center">Front</h4>
            </div>
            <div class="seconds">
                <img  src='https://mamata-card-images.s3.us-east-2.amazonaws.com/{{backimage}}' class="rounded mx-auto d-block img-thumbnail">
                <h4 style="text-align: center">Back</h4>
                <!-- <div class="seconds-a">
                  <a style="cursor: pointer;margin: 0 0 0 1em"  (click)='front()'><img src='https://mamata-card-images.s3.us-east-2.amazonaws.com/{{frontimage}}' class="img-thumbnail imag "></a> 
                </div>
                <div class="seconds-b">
                    <a style="cursor: pointer;margin: 0 0 0 1em"  (click)="back()"><img  src='https://mamata-card-images.s3.us-east-2.amazonaws.com/{{backimage}}' class="img-thumbnail imag "></a>  
                </div> -->
            </div>
            
          </div>
          <div class="details">
              <h3 style="text-align: center;margin-bottom:1em">-: Product Details :-</h3>
              <!-- <hr> -->
              <p>Name &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  :- {{productDetails.card_name}}</p>
              <p>Paper Stock  &nbsp; &nbsp; :- {{productDetails1.paper_stock}}</p>
              <p>Paper Quality &nbsp; :- {{productDetails1.paper_quality}}</p>
              <p>Price &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; :- {{productDetails1.price}}</p>
          </div>
          <div class="modal-footer">
            <button type="submit" (click)="addToCart();" class="btn btn-primary btn-sm"
              data-dismiss="modal">Continue</button>
          </div>
        </div>
      </div>
  </div>
  <div class="single-related-products" style="margin-top:2em">
      <div class="container">
        <h3 class="animated wow " data-wow-delay=".5s">Category Products</h3>
        <p class="est animated wow " data-wow-delay=".5s">Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia
          deserunt mollit anim id est laborum.</p>
        <div>
            <div class="flex1">
                <div class="flex2" style="margin-top:15%;margin-right: 2%">
                    <div style="cursor: pointer" title="Move Backward" (click)="backward()"><img class="hovering"src="../../assets/images/nav-icon1.png" style="background-color: white;float: left;margin-left: -24px;max-height: 3.5em;max-width:3.5em"></div>
                </div>
                <div class="felx3">
                    <div class="new-collections-grids">
                        <div *ngFor="let reletiveProduct of categoryList1;let i=index">
                            <div class="col-md-3 new-collections-grid animated wow" data-wow-delay="1s"*ngIf="next>=i && i>=prev">
                                <div class="new-collections-grid1   ">
                                  <div class="new-collections-grid1-image">
                                    <a (click)="quickView(reletiveProduct)" style="cursor: pointer" class="product-image"><img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{reletiveProduct.card_images[0].images[0]}}" alt=" " class="img-responsive"></a>
                                  </div>
                                  <h4 style="text-transform: capitalize"><a style="cursor: pointer;text-transform: capitalize" (click)="quickView(reletiveProduct)">{{reletiveProduct.card_name}}</a></h4>
                                  <!-- <p>Vel illum qui dolorem eum fugiat.</p> -->
                                  <div class="new-collections-grid1-left simpleCart_shelfItem">
                                    <p><span class="item_price">₹{{reletiveProduct.actual_price}}</span>
                                      <!-- <a class="item_add" href="#">add to cart </a> -->
                                    </p>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="clearfix"> </div>
                      </div>
                </div>
                <div class="flex2" style="margin-top:15%;margin-left: 1%;">
                  <div style="cursor: pointer" title="Move Forward" (click)="forward()"><img class="hovering" src="../../assets/images/nav-icon.png" style="background-color: white;float: left;max-height: 3.5em;max-width:3.5em"></div>
                </div>
              </div>
        </div>
        
        
      </div>
    </div>
</div></div>
<app-footer></app-footer>

<!-- </div> -->