<!-- <app-header></app-header>
<input type="file" accept="image/*" (change)="changeListener($event)" accept="">
<div class="form-group">
  <label for="catName">CategoryName</label>
  <input type="text" class="form-control" id="catName" required [(ngModel)]="catName" name="catName">
</div>
<div class="form-group">
    <label for="catPriceRange">Price Range</label>
    <input type="text" class="form-control" id="catPriceRange" required [(ngModel)]="catPriceRange" name="catPriceRange">
</div>
<div class="form-group">
    <label for="catDesc">Description</label>
    <input type="text" class="form-control" id="catDesc" required [(ngModel)]="catDesc" name="catDesc">
</div>
<button type="button" class="btn btn-success btn-s" (click)="addCategory()">
    Add Image
</button>
<app-footer></app-footer> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mamata Printers</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
</head>
<div class="wrapper ">
    <div class="narasimha">
        <ng-sidebar-container style="height: 0vh" >
                <ng-sidebar class="container animated wow slideInUp" #sidebar [(opened)]="_opened" wow-delay="0.5">
                    <div class="sidebar" data-color="orange">
                        <div class="logo">
                                <a href="#">
                                    <img src="assets/logo-new.png">
                                </a>
                        </div>
                        <div class="sidebar-wrapper" style="margin-left: -1% !important;">
                            <ul class="nav">
                                <li>
                                    <a routerLink="/admin" style="cursor: pointer;">
                                        <i style="width: 2vw;height:2vw" class="glyphicon glyphicon-briefcase"></i>
                                        <p style="font-size: 1vw; text-transform:capitalize;">Dashboard</p>
                                    </a>
                                </li>
                
                                <li>
                                    <a routerLink="/categoryadd" style="cursor: pointer;">
                                        <i style="width: 2vw;height:2vw" class="glyphicon glyphicon-hdd"></i>
                                        <p style="font-size: 1vw; text-transform:capitalize;">Add Category</p>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/productupload" style="cursor: pointer;">
                                        <i style="width: 2vw;height:2vw" class="glyphicon glyphicon-upload"></i>
                                        <p style="font-size: 1vw; text-transform:capitalize;">Add Product</p>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    
                </ng-sidebar>
                <div ng-sidebar-content>
                        
                </div>
        </ng-sidebar-container>
    </div>
    
    <div [ngClass]="className" style="overflow-x: hidden; overflow-y: auto;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
            <div class="container-fluid">
                <div style="display: inline-block;cursor: pointer;" class="container1" (click)="open(sidebar)" >
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                </div>
                <div class="navbar-wrapper"  style="margin-right:40%">
                    <a class="navbar-brand" href="#pablo">Add Category</a>
                </div>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button> -->
                <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <form>
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </span>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <i class="now-ui-icons media-2_sound-wave"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Stats</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="now-ui-icons location_world"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Some Actions</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" (click)="logout()" style="cursor: pointer;">
                                <i class="now-ui-icons users_single-02"></i>
                                <p>
                                    <span  class="d-lg-none d-md-block">Account</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Add Category</h5>
                            <p class="category">Created using Montserrat Font Family</p>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-5">
                                        <input type="file" accept="image/*" (change)="changeListener($event)" >
                                    </div>

                                    <div class="col-md-5">
                                        <label for="catName">CategoryName</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" id="catName" required [(ngModel)]="catName" name="catName">
                                    </div>

                                    <div class="col-md-5">
                                        <label for="catPriceRange">Price Range</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" id="catPriceRange" required [(ngModel)]="catPriceRange" name="catPriceRange">
                                    </div>

                                    <div class="col-md-5">
                                        <label for="catDesc">Description</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" id="catDesc" required [(ngModel)]="catDesc" name="catDesc">
                                    </div>

                                    <div class="col-md-5"></div>
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-success btn-s" (click)="addCategory()">
                                            Add Image
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>ID</th>
                            <th>catName</th>
                            <th>catDesc</th>
                            <th>catImgData</th>
                            <th>catPriceRange</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tr class="rem1" *ngFor="let item of categoryList;let i=index">
                        <td class="invert">{{i + 1}}</td>
                        <td class="invert">{{item.id}}</td>

                        <td class="invert">₹{{item.catName}}</td>
                        <td class="invert">₹{{item.catDesc}}</td>
                        <td class="invert-image">
                            <a href="#">
                                <img [src]="item.catImgData" style="width:80px;height:80px!important;" alt=" " class="img-responsive" />
                            </a>
                        </td>

                        <td class="invert">₹{{item.catPriceRange}}</td>
                        <td class="invert" data-toggle="modal" data-target="#basicModal" (click)="removeItem(item)">
                            <div class="rem">
                                <div class="close1"></div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal fade" id="basicModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content modal-dialog-center">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmation?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Do You want to remove Category?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm" (click)="removeItemRow()" data-dismiss="modal">Yes</button>
                            <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <app-footer></app-footer>
        </footer>
    </div>
</div>


</html>
<!-- <app-footer></app-footer> -->