﻿<!-- <div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a [routerLink]="'/'"> Home </a></li>
                <li><a [routerLink]="'/userDetails'"> User Details List </a></li>
                <li><a [routerLink]="'/login'"> Login </a></li>
                <li><a [routerLink]="'/register'"> Registration </a></li>
                <li><a [routerLink]="'/productupload'"> Product Upload </a></li>
                <li><a [routerLink]="'/productDetails'"> Product Details </a></li>
                <li><a [routerLink]="'/editImg'"> Edit Image </a></li>
            </ul>
        </div>
    </nav>
    <div> -->
        
        <router-outlet></router-outlet>
       
    <!-- </div>

    <div class="footer" style="text-align: center;background-color: black;margin-top: 70vh">
        <h4>Your website content here.</h4>
        <p>Copyright (c) 2018</p>
    </div> -->