<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mamata Printers</title>
	<meta charset="utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
</head>
<div class="wrapper ">
	<div class="narasimha">
			<ng-sidebar-container style="height: 0vh" >
					<ng-sidebar class="container animated wow slideInUp" #sidebar [(opened)]="_opened" wow-delay="0.5">
						<div class="sidebar" data-color="orange">
							<div class="logo">
								<a href="#">
									<img src="assets/logo-new.png">
								</a>
							</div>
							<div class="sidebar-wrapper" style="margin-left: -1% !important;">
								<ul class="nav">
									<li>
										<a routerLink="/admin" style="cursor: pointer;">
											<i style="width: 2vw;height:2vw" class="glyphicon glyphicon-briefcase"></i>
											<p style="font-size: 1vw; text-transform:capitalize;">Dashboard</p>
										</a>
									</li>
					
									<li>
										<a routerLink="/categoryadd" style="cursor: pointer;">
											<i style="width: 2vw;height:2vw" class="glyphicon glyphicon-hdd"></i>
											<p style="font-size: 1vw; text-transform:capitalize;">Add Category</p>
										</a>
									</li>
									<li>
										<a routerLink="/productupload" style="cursor: pointer;">
											<i style="width: 2vw;height:2vw" class="glyphicon glyphicon-upload"></i>
											<p style="font-size: 1vw; text-transform:capitalize;">Add Product</p>
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						
					</ng-sidebar>
					<div ng-sidebar-content>
							
					</div>
			</ng-sidebar-container>
	</div>
		
    	
    <div [ngClass]="className" style="overflow-x: hidden; overflow-y: auto;">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
			<div class="container-fluid">
				<div style="display: inline-block;cursor: pointer;" class="container1" (click)="open(sidebar)" >
						<div class="bar1"></div>
						<div class="bar2"></div>
						<div class="bar3"></div>
				</div>	
				<div class="navbar-wrapper"style="margin-right:50%;">
					<a class="navbar-brand"  href="#pablo">Dashboard</a>
				</div>
				<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-bar navbar-kebab"></span>
					<span class="navbar-toggler-bar navbar-kebab"></span>
					<span class="navbar-toggler-bar navbar-kebab"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navigation">
					<form>
						<div class="input-group no-border">
							<input type="text" value="" style="height: 100%" class="form-control" placeholder="Search...">
							<span class="input-group-addon">
								<i style="cursor: pointer" class="glyphicon glyphicon-search" aria-hidden="false"></i>
							</span>
						</div>
					</form>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#pablo">
								<i  class="glyphicon glyphicon-stats"></i>
								<p>
									<span class="d-lg-none d-md-block">Stats</span>
								</p>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<i class="glyphicon glyphicon-globe"></i>
								<p>
									<span class="d-lg-none d-md-block">Some Actions</span>
								</p>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#pablo">
								<i class="glyphicon glyphicon-user"></i>
								<p>
									<span (click)="logout()" style="cursor: pointer;" class="d-lg-none d-md-block">Account</span>
								</p>
							</a>
						</li>
					</ul>
				</div> -->
			</div>
		</nav>
		<!-- End Navbar -->
		<div class="panel-header panel-header-lg">
			<canvas id="bigDashboardChart"></canvas>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="card card-chart">
						<div class="card-header" style="background-color: rgb(28, 111, 179)">
							<h5 class="card-category">Global Sales</h5>
							<h4 class="card-title">Shipped Products</h4>
							<!-- <div class="dropdown">
								<button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
									<i class="glyphicon glyphicon-asterisk"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<a class="dropdown-item text-danger" href="#">Remove Data</a>
								</div>
							</div> -->
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas id="lineChartExample"></canvas>
							</div>
						</div>
						<!-- <div class="card-footer">
							<div class="stats">
								<i class="glyphicon glyphicon-refresh"></i> Just Updated
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="card card-chart">
						<div class="card-header" style="background-color: rgb(255, 141, 34)">
							<h5 class="card-category">2018 Sales</h5>
							<h4 class="card-title">All products</h4>
							<!-- <div class="dropdown">
								<button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
									<i class="glyphicon glyphicon-asterisk"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<a class="dropdown-item text-danger" href="#">Remove Data</a>
								</div>
							</div> -->
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
							</div>
						</div>
						<!-- <div class="card-footer">
							<div class="stats">
								<i class="glyphicon glyphicon-refresh"></i> Just Updated
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="card card-chart">
						<div class="card-header" style="background-color: rgb(14, 95, 91)">
							<h5 class="card-category">Email Statistics</h5>
							<h4 class="card-title">24 Hours</h4>
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas id="barChartSimpleGradientsNumbers"></canvas>
							</div>
						</div>
						<!-- <div class="card-footer">
							<div class="stats">
								<i class="glyphicon glyphicon-time"></i> Last 7 days
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="card card-chart">
						<div class="card-header" style="background-color: lightgreen">
							<h5 class="card-category">Email Statistics</h5>
							<h4 class="card-title">24 Performance</h4>
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas id="barChartSimpleGradientsNumbers"></canvas>
							</div>
						</div>
						<!-- <div class="card-footer">
							<div class="stats">
								<i class="glyphicon glyphicon-time"></i> Last 7 days
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card card-tasks">
						<div class="card-header">
							<h5 class="card-category">Today Orders</h5>
							<h4 class="card-title">Orders</h4>
						</div>
						<div class="card-body">
							<div class="table-full-width table-responsive">
								<table class="table">
									<!-- <tbody> -->
										<tr>
											<!-- <td>
														<input type="checkbox" checked="">
											</td> -->

											<td class="text-left">Order is whitecard design are 2</td>
											<td class="td-actions text-right">
												<button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" title="Order Accept" data-original-title="Edit Task">
													<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" title="Order Cancel" data-original-title="Remove">
													<i class="glyphicon glyphicon-remove"></i>
												</button>
											</td>
										</tr>
										<tr>
											<!-- <td>
														<input type="checkbox">
											</td> -->

											<td class="text-left">Lines From Great Russian Literature? Or E-mails From My Boss?</td>
											<td class="td-actions text-right">
												<button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
													<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
													<i class="glyphicon glyphicon-remove"></i>
												</button>
											</td>
										</tr>
										<tr>
											<!-- <td>
												<div >
													<label >
														<input  type="checkbox" checked="">
													</label>
												</div>
											</td> -->

											<td class="text-left">Flooded: One year later, assessing what was lost and what was found when
												a ravaging rain swept through metro Detroit
											</td>
											<td class="td-actions text-right">
												<button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
													<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
													<i class="glyphicon glyphicon-remove"></i>
												</button>
											</td>
										</tr>
									<!-- </tbody> -->
								</table>
							</div>
						</div>
						<!-- <div class="card-footer">
							<hr>
							<div class="stats">
								<i class=" glyphicon glyphicon-refresh spin"></i> Updated 3 minutes ago
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h5 class="card-category">Total Orders</h5>
							<h4 class="card-title"> Order Status</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<th>
											Order
										</th>
										<th>
											Name
										</th>
										<th>
											Status
										</th>
										<!-- <th >
											Delivered
										</th> -->
									</thead>
									<tbody>
										<!-- <tr style="cursor: pointer" (click)="orderprogress()"> -->
										<tr>
											<td>
												item1
											</td>
											<td>
												whitecard
											</td>
											<td >
												Editing
											</td>
											<!-- <td>
												No
											</td> -->
										</tr>
										<tr >
											<td>
												item2
											</td>
											<td>
												iconicCard
											</td>
											<!-- <td>
												Shipped
											</td> -->
											<td >
												Return
											</td>
										</tr>
										<tr>
											<td>
												item3
											</td>
											<td>
												Netherlands
											</td>
											<td>
												initiate
											</td>
											<!-- <td >
												......
											</td> -->
										</tr>
										<tr>
											<td>
												item4
											</td>
											<td>
												Malawi
											</td>
											<td>
												packing
											</td>
											<!-- <td >
												No
											</td> -->
										</tr>
										<tr>
											<td>
												item5
											</td>
											<td>
												Chile
											</td>
											<!-- <td>
												Shipped
											</td> -->
											<td >
												Delivered
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<app-footer></app-footer>
			<!-- <div class="container-fluid">
				<nav>
					<ul>
						<li>
							<a href="#">
								Products
							</a>
						</li>
						<li>
							<a href="#">
								About Us
							</a>
						</li>
						<li>
							<a href="#">
								Blog
							</a>
						</li>
					</ul>
				</nav>
				<div class="copyright">
					&copy; Footer
				</div>
			</div> -->
		</footer>
	</div>
</div>


</html>