.side_bar{
    width: 100% !important;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
    
  }
.sidebar{
    max-width: 19% !important;
    font-size: 1em !important;
}

.sidebar-wrapper{
    max-width: 100% !important;
}
.container-fluid{
    display: flex;
}
.container1{
    flex:1;
}
.navbar-wrapper{
    flex:1;
}
@media only screen and(max-width:991px){
    /* .container-fluid{
        display: flex;
    }
    .container1{
        flex:1;
    }
    .navbar-wrapper{
        flex:1;

        
    }
     .wrapper{
        display: flex;
    }
    ng-sidebar-container{
        flex: 1;
    }
    .side_bar{
        flex: 6;
    }  */
    .wrapper{
        display: flex;
    }
    .narasimha{
        flex: 1;
    }
    .main-panel{
        flex: 4;
    }
}
table >tr>td{
    width: 33.33% !important;
}