.custom-image-style {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.product-desc-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.custom-products-cart-container {
  padding-top: 20px;
}

.custom-products-cart-container ul ul {
  width: 75%;
  padding:  15%;
}

.product-cart-item {
  display: flex;
}

.product-cart-item-left {
  display: flex;
}

.card {
  margin-bottom: .75rem;
}

.card-block {
  padding: 1.25rem;
}
.col-md-3{
  margin-left: -0.2em;
}
.new-collections-grid1-image-pos{
  margin-left: -1.5em;
}



.products-right-grids-bottom {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column .new-collections-grid1 {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
#section {
	width: 82%;
	 margin: 15px auto 0 auto;
	  padding: 2%;
	  display:table;
	  
	}
  #section ul li
  {
	  display:table-cell;
	  justify-content: center;
  }
  #section ul li a img{
	margin: 1em
}
.masonry-item {
  width: 29%;  
}

