<app-header>
  <script type="text/javascript"
    src="https://gc.kis.v2.scr.kaspersky-labs.com/C1DBDF0D-5CBE-D64B-8F6C-8738D68EA762/main.js"
    charset="UTF-8"></script>
</app-header>
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li>
        <a href="index.html">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
      </li>
      <li class="active">Products</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<div class="products">
  <div class="container">
    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="products-right-grid">
        <div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
          <div style="width: 11em" class="sorting">
            <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
              <option value="null">Default sorting</option>
              <option value="null">Sort by popularity</option>
              <option value="null">Sort by average rating</option>
              <option value="null">Sort by price</option>
            </select>
          </div>
          <div style="width: 11em" class="sorting-left">
            <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
              <option value="null">Item on page 9</option>
              <option value="null">Item on page 18</option>
              <option value="null">Item on page 32</option>
              <option value="null">All</option>
            </select>
          </div>
          <div class="clearfix"> </div>
        </div>
        <ngx-masonry [useImagesLoaded]="true"  [updateLayout]="updateMasonryLayout">
          <ngxMasonryItem style="background-color: rgb(235, 232, 232);margin: 1.2em;border-radius: 0.2em"
            class="masonry-item" *ngFor="let product of productImg;let i=index">
            <div class=" products-right-grid1" data-wow-delay=".5s">
              <div class="new-collections-grid1-image">
                <a style="cursor: pointer;" (click)="quickView(product)" [ngClass]="{'hidden': product.place === 1}">
                  <img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{product.card_images[0].images[0]}}"
                    style=" max-width:100% !important;height:auto !important;" alt="Product Image"
                    class="img-responsive">
                </a>
                <a style="cursor: pointer;" (click)="quickView(product)" [ngClass]="{'hidden': product.place === 0}">
                  <img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{product.card_images[0].images[1]}}"
                    style=" max-width:100% !important;height:auto !important;" alt="Product Image"
                    class="img-responsive">
                </a>
                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                  <a (click)="quickView(product)" style="cursor: pointer;margin-left: 2vw; ">Quick View</a>
                </div>
                <!-- <div id="section">
                  <ul class="sliding">
                    <li>
                      <a style="cursor: pointer;" (click)=position(i,0) class="product-image">
                        <img
                          src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{product.card_images[0].images[0]}}"
                          style=" max-width:50px !important;max-height: 50px !important;" alt="Product Image"
                          class="img-responsive">
                      </a>
                    </li>
                    <li>
                      <a style="cursor: pointer;" (click)=position(i,1) class="product-image">
                        <img
                          src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{product.card_images[0].images[1]}}"
                          style=" max-width:50px !important;max-height: 50px !important;" alt="Product Image"
                          class="img-responsive">
                      </a>
                    </li>
                  </ul>
                </div> -->
              </div>
              <div style="text-align: center;margin-right: 22%;min-height: 6em;max-height: 6em">
                <h4 style="min-height: 2.5em;max-height:2.5em;margin-top: 0.3em;text-align: center">
                  <a style="text-transform: capitalize;cursor: pointer;margin-left: 2vw;"
                    (click)="quickView(product)">{{product.card_name}}</a>
                </h4>
                <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                  <p>
                    <span class="item_price" style="margin-bottom:0.5vh ">₹{{product.actual_price}}</span>
                  </p>
                </div>
              </div>
            </div>
          </ngxMasonryItem>
        </ngx-masonry>
        <nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
          <ul class="pagination paging">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<app-footer></app-footer>