
<div class="row text-lg-left" >
 <div class="col-lg-3 col-md-4 col-xs-6" *ngFor="let product of products;" >
 <a href="#" class="d-block mb-4 h-100">
 <img class="img-fluid img-thumbnail" style="height: 180px;width: 180px" src={{product.imgBase64Data}} alt="">
 </a>
 {{product.imgName}} 
<label>{{product.price}}</label>
 </div>
