﻿<!DOCTYPE html>
<html>
<app-header></app-header>

<body>
	<!-- header -->

	<!-- //header -->
	<!-- banner -->
	
	<div>
			<div class="carousel">
				<ul class="slides">
					<input type="radio" name="radio-buttons" id="img-1" checked />
					<li class="slide-container">
						<div class="slide-image">
							<img src="assets/img1.jpg">
						</div>
						<div class="carousel-controls">
							<label for="img-3" class="prev-slide">
								<span>&lsaquo;</span>
							</label>
							<label for="img-2" class="next-slide">
							  <span>&rsaquo;</span>
							</label>
						</div>
					</li>
					<input type="radio" name="radio-buttons" id="img-2" />
					<li class="slide-container">
						<div class="slide-image">
							<img src="assets/img2.jpg">
						</div>
						<div class="carousel-controls">
							<label for="img-1" class="prev-slide">
								<span>&lsaquo;</span>
							</label>
							<label for="img-3" class="next-slide">
								<span>&rsaquo;</span>
							</label>
						</div>
					</li>
					<input type="radio" name="radio-buttons" id="img-3" />
					<li class="slide-container">
						<div class="slide-image">
							<img src="assets/img3.jpg">
						</div>
						<div class="carousel-controls">
							<label for="img-2" class="prev-slide">
								<span>&lsaquo;</span>
							</label>
							<label for="img-1" class="next-slide">
								<span>&rsaquo;</span>
							</label>
						</div>
					</li>
					<div class="carousel-dots">
						<label for="img-1" class="carousel-dot" id="img-dot-1"></label>
						<label for="img-2" class="carousel-dot" id="img-dot-2"></label>
						<label for="img-3" class="carousel-dot" id="img-dot-3"></label>
					</div>
				</ul>
			</div>
		</div>
	<!-- banner-bottom html -->
	<div class="banner-bottom">
		<div class="container" > 
			<div class="row" >
				
					<div style="border-top:1px solid #eee; border-bottom:1px solid #eee; width: 300px; margin: 0px auto; "><h3 class="animated wow zoomIn " style="text-align: center; padding-bottom:20px; font-size:3em;" data-wow-delay=".5s"> Catagories </h3></div>
					<!-- <div class="col-md-12">
							<div class="cl-md-6" style="cursor: pointer" title="Move Backward" (click)="decrease()"><i style="float: left" class="glyphicon glyphicon-menu-left"></i></div>
							<div class="cl-md-6" style="cursor: pointer" title="Move Forward" (click)="increase()"><i style="float: right" class="glyphicon glyphicon-menu-right"></i></div>
					</div> -->
					<!-- <div class="nextprev">
							<button id="next"  class="btn btn-primary" (click)=decrease()><< Previous</button>
							<button id="prev"  class="btn btn-primary" (click)=increase()>Next >></button>	
					</div> -->
					<div class="flex1">
						<div class="flex2" style="margin-top:10%;margin-right: 1%">
										<div style="cursor: pointer" title="Move Backward" (click)="decrease()"><img class="hovering"src="../../assets/images/nav-icon1.png" style="background-color: white;float: left;max-height: 3.5em;max-width:3.5em"></div>
						</div>
						<div class="flex3">
								<div  *ngFor="let categoryLists of categoryList;let i=index">
										<div style="max-height: 50vh;max-width: 30vw;" class="col-lg-3 col-md-3 block block-left view view-tenth " *ngIf="next>=i && i>=prev"  >
											<a href="#" class="image " title="Business Cards">
													<img  style="height: 100%;width: 100%" src="../../assets/images/{{categoryLists.sub_category_image}}{{i}}.jpg" alt="Business Cards">
													
											</a>
											<div class="mask">
												<h2>The Only Living Boy in New York</h2>
												<p>Words and such, a whole lot more of muh flippin' words.</p>
												<a (click)="productsInCatagory(categoryLists)" style="cursor: pointer;" class="info">{{categoryLists.sub_category_name}} </a>
											</div>
										</div>
									</div>
								</div>
						<div class="flex2" style="margin-top:10%;margin-left: 1%;">
								<div style="cursor: pointer" title="Move Forward" (click)="increase()"><img class="hovering" src="../../assets/images/nav-icon.png" style="background-color: white;float: left;max-height: 3.5em;max-width:3.5em"></div>
						</div>
					</div>
					
				
				<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 block block-center ">
					<div class="inner-top row">
						<div class="box-left col-xs-6 view view-tenth">
							<a href="#" class="image" title="Free Business Cards ">
								<img src="../../assets/images/{{categoryList[1].sub_category_image}}.jpg" alt="Free Business Cards">
							</a>
							<div class="mask">
									<h2>The Only Living Boy in New York</h2>
									<p>Words and such, a whole lot more of muh flippin' words.</p>
									<a (click)="productsInCatagory(categoryList[1])" style="cursor: pointer;" class="info">Personal Cards</a>
							</div>
						</div>
						<div class="box-right col-xs-6 view view-tenth">
							<a href="#" class="image" title="Personal Business Cards">
								<img src="../../assets/images/{{categoryList[2].sub_category_image}}.jpg" alt="Personal Business Cards">
							</a>
							<div class="mask">
									<h2>The Only Living Boy in New York</h2>
									<p>Words and such, a whole lot more of muh flippin' words.</p>
									<a (click)="productsInCatagory(categoryList[2])" style="cursor: pointer;" class="info">Calendars </a>
							</div>
						</div>
					</div>
					<div class="inner-bottom view view-tenth">
						<a href="#" class="image" title="Appointment Cards">
							<img src ="../../assets/images/{{categoryList[3].sub_category_image}}.jpg" alt="Appointment Cards">
						</a>
						<div class="mask">
								<h2>The Only Living Boy in New York</h2>
								<p>Words and such, a whole lot more of muh flippin' words.</p>
								<a (click)="productsInCatagory(categoryList[3])" style="cursor: pointer;" class="info">Customized Print</a>
						</div>
					</div>
				</div> -->
				<!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 block block-right ">
					<div class="inner-top view view-tenth">
						<a href="#" class="image" title="Marketing">
							<img src="../../assets/images/{{categoryList[4].sub_category_image}}.jpg" alt="Marketing">
						</a>
						<div class="mask">
								<h2>The Only Living Boy in New York</h2>
								<p>Words and such, a whole lot more of muh flippin' words.</p>
								<a (click)="productsInCatagory(categoryList[4])" style="cursor: pointer;" class="info">T-Shirt Printing </a>
						</div> 
					</div> -->
					<!-- <div class="inner-bottom view view-tenth">
						<a href="#" class="image" title="Postcards">
							<img src="../../assets/images/{{categoryList[5].sub_category_image}}" alt="Postcards">
						</a>
						<div class="mask">
								<h2>The Only Living Boy in New York</h2>
								<p>Words and such, a whole lot more of muh flippin' words.</p>
								<a (click)="productsInCatagory(categoryList[5])" style="cursor: pointer;" class="info">Print On Bags </a>
							</div> 
					</div> -->
				<!-- </div>  -->
		</div>
		</div>
		</div>
		

	<div class="new-collections">
		<div class="container">
				<h3 class="animated wow zoomIn" data-wow-delay=".5s">New Collections</h3>
				<p class="est animated wow zoomIn" data-wow-delay=".5s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="new-collections-grids">
						<div style="background-color: rgb(235, 235, 235)" class="row">
							<ngx-masonry [useImagesLoaded]="true"  [updateLayout]="updateMasonryLayout">
								<ngxMasonryItem class="masonry-item" *ngFor="let newcollections of newCollectionProducts;let i=index">
									<div style="background-color: white" class="products-right-grids-bottom  wow " style=" margin: 1.3em;" data-wow-delay=".5s">
										<div style="margin-right: 1em" class="new-collections-grid1-image">
											<a style="cursor: pointer;" (click)="newCollectionInProduct(newcollections)" [ngClass]="{'hidden': newcollections.place === 1}" >
												<img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{newcollections.card_images[0].images[0]}}" style=" max-width:100% !important;height:auto !important;" alt="Product Image" class="img-responsive">
											</a>
											<a style="cursor: pointer;" (click)="newCollectionInProduct(newcollections)" [ngClass]="{'hidden': newcollections.place === 0}" >
												<img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{newcollections.card_images[0].images[1]}}" style=" max-width:100% !important;height:auto !important;" alt="Product Image" class="img-responsive">
											</a>
											<div class="new-collections-grid1-image-pos">
												<a (click)="newCollectionInProduct(newcollections)" style="cursor: pointer;">Quick View</a>
											</div>
											<div class="new-collections-grid1-right">
												
											</div>
										</div>
										<!-- <div id="section">
												<ul class="sliding">
														<li  >
															<a style="cursor: pointer;" (click)=position(i,0)   class="product-image" >
																<img  src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{newcollections.card_images[0].images[0]}}" style=" max-width:50px !important;max-height: 50px !important;" alt="Product Image" class="img-responsive">
															</a>
														</li>
														<li >
															<a style="cursor: pointer;" (click)=position(i,1) class="product-image" >
																<img  src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{newcollections.card_images[0].images[1]}}" style=" max-width:50px !important;max-height: 50px !important;" alt="Product Image" class="img-responsive">
															</a>
														</li>
												</ul>
										</div> -->
										
										<h4 style="margin-top:1em" style="margin:2% 0 0 17%">											
											<a class="collection" style="cursor: pointer" (click)="newCollectionInProduct(newcollections)">{{newcollections.card_name}}</a>
											<p style="margin:5% 0 0 17%">
												<span class="item_price">₹{{newcollections.actual_price}}</span>
											</p>
										</h4>
										<!-- <p>{{newcollections.description}}</p> --> <br>
											
									</div>
							   </ngxMasonryItem>
							</ngx-masonry>
							<!-- <div  class="col-md-4 new-collections-grid" *ngFor="let newcollections of newCollectionProducts;let i=index">
								 <div style="background-color: white" class="products-right-grids-bottom animated wow " style=" margin: 1.3em;" data-wow-delay=".5s">
									<div style="margin-right: 1em" class="new-collections-grid1-image">
										<a style="cursor: pointer;" (click)="newCollectionInProduct(newcollections)" [ngClass]="{'hidden': newcollections.place === 1}" >
											<img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{newcollections.card_images[0].images[0]}}" style=" max-width:100% !important;height:auto !important;" alt="Product Image" class="img-responsive">
										</a>
										<a style="cursor: pointer;" (click)="newCollectionInProduct(newcollections)" [ngClass]="{'hidden': newcollections.place === 0}" >
											<img src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{newcollections.card_images[0].images[1]}}" style=" max-width:100% !important;height:auto !important;" alt="Product Image" class="img-responsive">
										</a>
										<div class="new-collections-grid1-image-pos">
											<a (click)="newCollectionInProduct(newcollections)" style="cursor: pointer;">Quick View</a>
										</div>
										<div class="new-collections-grid1-right">
											
										</div>
									</div>
									<div id="section">
											<ul class="sliding">
													<li  >
														<a style="cursor: pointer;" (click)=position(i,0)   class="product-image" >
															<img  src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{newcollections.card_images[0].images[0]}}" style=" max-width:50px !important;max-height: 50px !important;" alt="Product Image" class="img-responsive">
														</a>
													</li>
													<li >
														<a style="cursor: pointer;" (click)=position(i,1) class="product-image" >
															<img  src="https://mamata-card-images.s3.us-east-2.amazonaws.com/{{newcollections.card_images[0].images[1]}}" style=" max-width:50px !important;max-height: 50px !important;" alt="Product Image" class="img-responsive">
														</a>
													</li>
											</ul>
									</div>
									
									<h4 style="margin-top:0.5em;margin-left: 13%">											
										<a class="collection" style="cursor: pointer" (click)="newCollectionInProduct(newcollections)">{{newcollections.card_name}}</a>
										<div class="new-collections-grid1-left simpleCart_shelfItem" style="margin-left:14%">
											<p>
												<span class="item_price">₹{{newcollections.actual_price}}</span>
											</p>
										</div>
									</h4>
									
								</div>
							</div> -->
						</div>
						<div class="clearfix"> </div>
					</div>
		</div>
	</div>
	<!-- //banner-bottom -->
	<!-- collections -->

	<!-- //collections -->
	<!-- new-timer -->
	<!-- <div class="timer">
		<div class="container">
			<div class="timer-grids">
				<div class="col-md-8 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<h3>
						<a href="products.html">sunt in culpa qui officia deserunt mollit</a>
					</h3>
					<div class="rating">
						<div class="rating-left">
							<img src="assets/2.png" alt=" " class="img-responsive" />
						</div>
						<div class="rating-left">
							<img src="assets/2.png" alt=" " class="img-responsive" />
						</div>
						<div class="rating-left">
							<img src="assets/2.png" alt=" " class="img-responsive" />
						</div>
						<div class="rating-left">
							<img src="assets/2.png" alt=" " class="img-responsive" />
						</div>
						<div class="rating-left">
							<img src="assets/1.png" alt=" " class="img-responsive" />
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="new-collections-grid1-left simpleCart_shelfItem timer-grid-left-price">
						<p>
							<i>₹580</i>
							<span class="item_price">₹550</span>
						</p>
						<h4>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
							consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
							vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</h4>
						<p>
							<a class="item_add timer_add" href="#">add to cart </a>
						</p>
					</div>
					<div id="counter"> </div>
					<script src="./assets/js/jquery.countdown.js"></script>
					<script src="./assetsjs/script.js"></script>
				</div>
				<div class="col-md-4 timer-grid-right animated wow slideInRight" data-wow-delay=".5s">
					<div class="timer-grid-right1">
						<img src="assets/17.jpg" alt=" " class="img-responsive" />
						<div class="timer-grid-right-pos">
							<h4>Special Offer</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> -->
	<!-- //new-timer -->
	<!-- collections-bottom -->
	<!-- <div class="collections-bottom">
		<div class="container">
			<div class="collections-bottom-grids">
				<div class="collections-bottom-grid animated wow slideInLeft" data-wow-delay=".5s">
					<h3>45% Offer For <span>Women & Children's</span></h3>
				</div>
			</div>
			<div class="newsletter animated wow slideInUp" data-wow-delay=".5s">
				<h3>Newsletter</h3>
				<p>Join us now to get all news and special offers.</p>
				<form>
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					<input type="email" value="Enter your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email address';}"
					 required="">
					<input type="submit" value="Join Us">
				</form>
			</div>
		</div>
	</div> -->
	<!-- //collections-bottom -->
	<!-- footer -->
	<app-footer></app-footer>
	<!-- //footer -->
</body>

</html>