.collection:hover{
	color: orange;
}
.flex1{
	display: flex;
  }
  .flex2{
	flex: 1;
  }
  .flex3{
	flex: 10;
  }
  .hovering:hover{
	box-shadow: 0px 2px 2px 0px;
  }
.masonry-item { width: 33.33%; }
#section {
	width: 82%;
	 margin: 15px auto 0 auto;
	  padding: 2%;
	  display:table;
	  
	}
  #section ul li
  {
	  display:table-cell;
	  justify-content: center;
  }
  #section ul li a img{
	margin: 1em
}
.products-right-grids-bottom {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	-ms-flex: 33.33%; /* IE10 */
	flex: 33.33%;
	max-width: 33.33%;
	padding: 0 4px;
  }
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  -ms-flex: 50%;
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  -ms-flex: 100%;
	  flex: 100%;
	  max-width: 100%;
	}
  }
  
























.nextprev{
	display: flex;
	justify-content: flex-end;
}
#next{
	margin: 2%;
}
#prev{
	margin: 2%;
}
.img-fluid {
	max-width: 75%;
  }
  
  .carousel-caption {
	position: inherit;
	color: #333;
	text-align: left;
	left: 5%;
  }
  html, body{
	font-size: 100%;
  background:	#fff;
  font-family: 'Open Sans', sans-serif;
  }
  p{
  margin:0;
  }
  h1,h2,h3,h4,h5,h6{
  font-family: 'Lato', sans-serif;
  margin:0;
  }
  ul,label{
  margin:0;
  padding:0;
  }
  body a:hover{
  text-decoration:none;
  }
  /*-- header --*/
  .header-grid-left ul li a,.new-collections-grid1-image-pos a,.new-collections-grid1 h4 a,.login a,.register-home a,.checkout-right-basket a,.bootstrap-tab-text-grid-right ul li a,.occasion-cart a,input[type="submit"],.mail-grid-right1 ul li a,.categories ul li a,.new-products-grid-right-add-cart p a,.new-products-grid-right h4 a,.products-right-grid1-add-cart p a,.timer-grid-left h3 a,.new-collections-grid1-left p a,.copy-right p a,.footer-grid-sub-grid-right h4 a,input[type="submit"],.footer-grid ul li a{
	  transition:.5s ease-in-out;
	  -webkit-transition:.5s ease-in-out;
	  -moz-transition:.5s ease-in-out;
	  -o-transition:.5s ease-in-out;
  }
  .header-grid{
	  padding:1em 0;
	  border-bottom:1px solid #DEDEDE;
  }
  .logo-nav{
	  padding:1em 0;
  }
  .header-grid-left{
	  float:left;
  }
  .header-grid-left ul li{
	  display:inline-block;
	  font-size:14px;
	  color:#999;
	  margin: 0 1em;
  }
  .header-grid-left ul li i{
	  left:-.5em;
  }
  .header-grid-left ul li a{
	  text-decoration:none;
	  color:#999;
  }
  .header-grid-left ul li a:hover{
	  color:#FFC229;
  }
  .header-grid-right{
	  float:right;
  }
  ul.social-icons li{
	  display:inline-block;
	  margin: 0px 4px;
  }
  .logo-nav-left{
	  float:left;
  }
  .logo-nav-left h1 a{
	  font-size:1.5em;
	  color:#222;
	  text-decoration:none;
  }
  .logo-nav-left h1 a span{
	  display: block;
	  font-size: .2em;
	  line-height: 0;
	  text-transform: uppercase;
	  letter-spacing: 12px;
	  color: #222222;
	  padding-left: .3em;
  }
  .logo-nav-left1 {
	  float: left;
	  margin-left: 2em;
  }
  .logo-nav-left1 ul li a{
	  font-size:.875em;
	  color: #222;
	  text-decoration: none;
	  font-family: 'Lato', sans-serif;
	  text-transform: uppercase;
	  font-weight: 600;
  }
  .logo-nav-left1 ul li.active a.act{
	  color:#d8703f !important;
  }
  .multi-column-dropdown li a {
	  color: #999 !important;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	  background-color: transparent;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	  border: none;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	  color: #d8703f;
  }
  .navbar-default {
	  background: none;
	  border: none;
  }
  .navbar-collapse {
	  padding: 0;
  }
  ul.multi-column-dropdown h6 {
	  font-size: 1.5em;
	  color:#222222;
	  margin: 0 0 1em;
	  padding-bottom: 1em;
	  border-bottom: 1px solid #E4E4E4;
	  text-transform: capitalize;
  }
  .multi-column-dropdown li {
	  list-style-type: none;
	  margin: 7px 0;
  }
  .multi-column-dropdown li a {
	  display: block;
	  clear: both;
	  line-height: 1.428571429;
	  color: #999 !important;
	  white-space: normal;
	  font-weight:500 !important;
  }
  .dropdown-menu.columns-3 {
	  min-width: 700px;
	  padding: 30px 30px;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	  background: none;
	  border: none;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	  background-color: transparent;
  }
  .nav > li > a:hover, .nav > li > a:focus {
	  background: none;
	  color:#d8703f !important;
  }
  .navbar-nav > li > a {
	  padding: 29px 18px 0;
  }
  .search-box {
	  margin-top: .6em;
  }
  /*start search*/
  .sb-search {
	  position: absolute;
	  right:25%;
	  width: 0%;
	  min-width:50px;
	  margin: 0;
	  height: 50px;
	  float: none;
	  overflow: hidden;
	  -webkit-transition: width 0.3s;
	  -moz-transition: width 0.3s;
	  transition: width 0.3s;
	  -webkit-backface-visibility: hidden;
	  background: none;
  }
  .sb-search-input {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  border: none;
	  outline: none;
	  background:#F5F5F5;
	  width: 100%;
	  height: 50px;
	  margin: 0;
	  z-index: 10;
	  font-size:14px;
	  color: #999;
	  padding-left: 1em;
	  padding-right: 4em;
  }
  .sb-search-input::-webkit-input-placeholder {
	  color:#999;
  }
  .sb-search-input:-moz-placeholder {
	  color: #999;
  }
  .sb-search-input::-moz-placeholder {
	  color: #999;
  }
  .sb-search-input:-ms-input-placeholder {
	  color: #999;
  }
  .sb-icon-search,.sb-search-submit  {
	  width: 50px;
	  height: 50px;
	  display: block;
	  position: absolute;
	  right: 0;
	  top: 0;
	  padding: 0;
	  margin: 0;
	  line-height: 85px;
	  text-align: center;
	  cursor: pointer;
  }
  /* Open state */
  .sb-search.sb-search-open,.no-js .sb-search {
	  width:42%;
  }.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	  z-index: 90;
  }
  /*-- search-ends --*/
  .header-right {
	  float: right;
	  margin-top: 5px;
	  width: 14%;
  }
  .box_1 {
	float: right;
	margin-top: 5px;
  }
  .box_1 h3 {
	color:#d8703f;
	font-size: 1em;
	margin: 0;
  }
  .total {
	display: inline-block;
	vertical-align: middle;
  }
  .box_1 a img {
	margin: 3px 0 0 0px;
  }
  .box_1 p {
	  margin: 0;
	  color: #999;
	  font-size: 14px;
  }
  a.simpleCart_empty {
	  color:#212121;
	  font-size: 13px;
	  text-decoration: none;
	  text-align: right;
	  display: block;
  }.banner-info h3{
	  font-size:5em;
	  color:#fff;
	  margin:0;
  }
  .banner-info {
	  margin: 4em 0 4em;
	  text-align: center;
  }
  .banner-info h4{
	  font-size: 3em;
	  color: #fff;
	  margin: 0em 0 0 7.5em;
	  font-weight:300;
	  font-family: 'Lato', sans-serif;
  }
  .banner-info h4 span{
	  padding: 0.8em .9em;
	  background: #ffc229;
	  border-radius: 100%;
	  display: inline-block;
  }
  .banner-info h4 span i{
	  display:block;
  }
  .banner-info1 p{
	  font-size:2em;
	  color:#fff;
	  margin:0;
	  line-height:1.8em;
	  width:65%;
  }
  .banner-bottom,.new-collections,.checkout,.collections-bottom,.timer,.register,.products,.typo,.mail,.single,.login,.single-related-products{
	  padding:2em 0;
  }
  .banner-bottom-grid-left{
	  float:left;
	  width:33.1%;
  }
  .banner-bottom-grid-left1{
	  float:left;
	  width:32.5%;
	  margin:0 1em;
  }
  .banner-bottom-grid-right{
	  float:left;
	  width:31.5%;
  }
  .left1-grid:nth-child(2) {
	  margin: 1em 0 0;
  }
  .grid-left-grid1{
	  position: relative;
	  display: block;
	  overflow: hidden;
	  text-align: center;
  }
  .grid-left-grid1,.banner-bottom-grid-left-grid1{
	  position: relative;
	  width: 100%;
  }.grid-left-grid1:hover img,.products-right-grids-position:hover img,.timer-grid-right1:hover img {
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
  }
  .grid-left-grid1 img,.products-right-grids-position img,.timer-grid-right1 img{
	-webkit-transition: all 3s ease-in-out;
	-moz-transition: all 3s ease-in-out;
	-o-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;
  }
  .grid-left-grid1-pos{
  position: absolute;
	bottom: 14%;
	left: 2%;
	width:90%;
	text-align: center;
	text-transform: capitalize;
  }
  .grid-left-grid1-pos p{
  font-size:2em;
  color:#fff;
  margin:0;
  }
  .grid-left-grid1-pos p span{
  display:block;
  }
  .banner-bottom-grid-left1-pos{
  position:absolute;
  top:36%;
  left:3%;
  width:90%;
  }
  .banner-bottom-grid-left1-pos p{
  font-size:2em;
  color:#fff;
  margin:0;
  }
  .banner-bottom-grid-left1-position{
  position: absolute;
	top: 6%;
	left: 3%;
	width: 94%;
	height: 89%;
	padding: 1em;
	border: 1px solid #fff;
  }
  .banner-bottom-grid-left1-pos1{
  padding:1.8em;
  background:rgba(0, 0, 0, 0.22);
  }
  .banner-bottom-grid-left1-pos1 p{
  font-size:13px;
  color:#fff;
  margin:0;
  }
  .grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding:0;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  }
  
  /* Common style */
  .grid figure {
  position: relative;
	float: none;
	overflow: hidden;
	margin: 0;
	min-width:376px;
	max-width:480px;
	max-height: 470px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
  }
  
  .grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  }
  
  .grid figure figcaption {
  padding: 2em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  
  .grid figure figcaption::before,
  .grid figure figcaption::after {
  pointer-events: none;
  }
  
  .grid figure figcaption,
  .grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  
  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */
  .grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  }
  
  .grid figure h3 {
  word-spacing: -0.15em;
  }
  
  .grid figure h3 span {
  color:#ffc229;
  }
  .grid figure h3 i {
  display: block;
	font-style: normal;
	font-size: .5em;
	line-height: 0.5;
	letter-spacing:5px;
	text-transform: uppercase;
  }
  
  .grid figure h3,
  .grid figure p {
  margin: 0;
  }
  
  .grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  }
  
  /* Individual effects */
  
  /*---------------*/
  /***** Julia *****/
  /*---------------*/
  
  figure.effect-julia {
  background: #2f3238;
  }
  
  figure.effect-julia img {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  
  figure.effect-julia figcaption {
  text-align: left;
  }
  
  figure.effect-julia h3 {
  position: relative;
  padding: 0.5em 0 1em;
  font-size: 2em;
	line-height: 1.5em;
  }
  
  figure.effect-julia p {
  display: inline-block;
  margin:0 0 0.5em;
  padding: 0.4em 1em;
  background:#fff;
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
  }
  
  figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  }
  
  figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  }
  
  figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  }
  
  figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  }
  
  figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  }
  
  figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  }
  
  figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
  }
  
  figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  
  /*-----------------*/
  /*-- //banner-bottom --*/
  /*-- new-collections --*/
  .new-collections h3,h3.title,.mail h3,.single-related-products h3,.login h3,.register h3{
  text-align: center;
	color:#222;
	margin: 0;
	position: relative;
	font-size: 3em;
  }
  .new-collections h3:before,.new-collections h3:after,h3.title:before,h3.title:after,.mail h3:before,.mail h3:after,.single-related-products h3:before,.single-related-products h3:after,.login h3:before,.login h3:after,.register h3:before,.register h3:after{
  position: absolute;
	top: 50%;
	width: 15%;
	height: 1px;
	background: #D5D5D5;
	content: '';
  }
  .new-collections h3:before,.single-related-products h3:before{
  left:17%;
  }
  h3.title:before,.login h3:before{
  left:22%;
  }
  .new-collections h3:after,.single-related-products h3:after{
  right:17%;
  }
  h3.title::after,.login h3:after{
  right:22%;
  }
  p.est{
  width: 60%;
	margin: .5em auto 0 !important;
	color: #999;
	font-size: 14px;
	line-height: 1.8em;
	text-align: center;
	font-weight: 500 !important;
  }
  .new-collections-grid{
  padding-left:0;
  }
  .new-collections-grids {
	margin: 3em 0 0;
  }
  .new-collections-grid1{
  padding: 1em;
  background: #fff;
  }
  .new-collections-grid1 img{
  margin:0 auto;
  }
  .new-collections-grid1 h4 a{
  font-size: .9em;
	color: #222;
	margin: 1em 0 .3em;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
  }
  .new-collections-grid1 h4 a:hover{
  color:#D8703F;
  }
  .new-collections-grid1 p{
  font-size:14px;
  color:#999;
  line-height:1.8em;
  margin:0 0 .5em;
  }
  .new-collections-grid1-left p a,.occasion-cart a{
  font-size: 14px;
	color: #D8703F;
	margin: 0;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1em;
	border: 1px solid;
  }
  .new-collections-grid1-left p i{
  color: #999;
  position:relative;
  font-style:normal;
  font-size: 14px;
  }
  .new-collections-grid1-left p span{
  margin:0 1em 0 .5em;
  }
  .new-collections-grid1-left p i:before,.products-right-grid1-add-cart p i:before{
  background: #999 none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: -26%;
	position: absolute;
	right: -20%;
	top: 54%;
	transform: rotate(-8deg) translate(0, -50%);
	-moz-transform: rotate(-8deg) translate(0, -50%);
	-webkit-transform: rotate(-8deg) translate(0, -50%);
  }
  .new-collections-grid1-left p {
  margin: 0 !important;
	text-transform: capitalize;
	color: #000;
	font-size:1.2em !important;
  }
  .new-collections {
	background: #F7F7F9;
  }
  .rating-left{
  float:left;
  }
  .new-collections-grid1-left p a:hover,.occasion-cart a:hover,.products-right-grid1-add-cart p a:hover,.new-products-grid-right-add-cart p a:hover{
  color: #222;
	border: 1px solid;
  }
  .new-collections-grid1-left {
	margin: 1.5em 0 .8em;
  }
  .new-collections-grid1-right {
	position:absolute;
  bottom: 29%;
	left: 30%;
  display:none;
  z-index:999;
  }
  .new-collections-grid1-right-rate {
	left: 44% !important;
  }
  .new-collections-grid1:hover .new-collections-grid1-right {
  display:block;
  }
  .rating-left img {
	margin: .3em 0.1em 0;
  }
  .new-collections-grid1:nth-child(2){
  margin:1em 0 0;
  }
  .new-collections-grid1{
	position: relative;
  }
  .new-collections-grid1:before {
	content: "";
	position: absolute;
	width: 0%;
	height:72%;
	left: 50%;
	top: 0;
	background:rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease;
	z-index: 3;
  }
  .new-collections-grid1:hover:before {
	left: 0;
	top: 0;
	width: 100%;
	height:72%;
  }
  .product-image:not(.zoom-available):hover {
	position: relative;
	display: block;
	border: none;
	text-align: center;
  }
  .product-image{
	width: 100%;
  }
  .new-collections-grid1-image{
  position:relative;
  }
  .new-collections-grid1-image-pos{
  position:absolute;
  top: 50%;
	left: 33%;
  transition:.5s ease-in-out;
  -webkit-transition:.5s ease-in-out;
  -moz-transition:.5s ease-in-out;
  -o-transition:.5s ease-in-out;
  z-index:9999;
  display:none;
  }
  .new-collections-grid1-image-pos a{
  padding:10px 20px;
  color:#fff;
  background:#d8703f;
  text-decoration:none;
  font-size: 14px;
  }
  .new-collections-grid1:hover .new-collections-grid1-image-pos{
  display:block;
  }
  .new-collections-grid1-image-pos a:hover{
  background:#ffc229;
  }
  .new-collections-grid1-image-pos1 {
	left: 41% !important;
  }
  .new-collections-grid1-sub{
  float:left;
  width:48.5%;
  }
  .new-collections-grid1-sub:nth-child(2){
  margin-left:1em;
  }
  .new-collections-grid-sub-grids{
  margin:1em 0 0;
  }
  .new-one{
  position:absolute;
  top:0%;
  right:0%;
  padding:.1em .5em;
  background:#ffc229;
  }
  .new-one p{
  font-size:14px;
  color:#fff;
  margin:0;
  }
  .collections-bottom-grid{
	  border:4px double #212121;
	  padding: 2em;
	  width: 50%;
	  margin-left: 4em;
  }
  .collections-bottom-grid h3{
	  font-size: 3em;
	  color: #fff;
	  margin: 0;
	  line-height: 1.3em;
	  font-family: 'Cabin', sans-serif;
  }
  .collections-bottom-grid h3 span{
	  display:block;
	  color:#212121;
  }
  .newsletter{
	  padding:2em;
	  background:#F7F7F9;
	  text-align:center;
  }
  .newsletter h3{
	  font-size:2em;
	  color:#222;
	  margin:0;
  }
  .newsletter p{
	  color:#999;
	  font-size:14px;
	  line-height:1.8em;
	  margin:.5em 0 2em;
  }
  .newsletter form{
	  width:60%;
	  margin:0 auto;
  }
  .newsletter input[type="email"]{
	  outline: none;
	  padding: 10px 10px 10px 35px;
	  background: none;
	  border: none;
	  border-bottom: 1px solid #D9D9D9;
	  font-size: 14px;
	  color: #999;
	  width: 74%;
  }
  .newsletter input[type="submit"]{
	  outline: none;
	  padding: 10px 0;
	  background:#D8703F;
	  border: none;
	  font-size: 1em;
	  color: #fff;
	  width: 17%;
	  margin-left: 2em;
  }
  .newsletter input[type="submit"]:hover{
	  background:#ffc229;
  }
  .newsletter form span {
	  left: 1.5em;
	  color:#ffc229;
	  top: 0.1em;
  }
  /*-- //collections-bottom --*/
  /*-- footer --*/
  .footer{
	  background:#2E2E2E;
	  padding:3em 0;
  }
  .footer-grid h3{
	  font-size:2em;
	  color:#fff;
	  margin:0 0 1em;
	  position:relative;
	  padding-bottom:.5em;
  }
  .footer-grid h3:before{
	  position: absolute;
	  bottom: 0%;
	  left: 0%;
	  width:30%;
	  height: 1px;
	  background: #828282;
	  content: '';
  }
  .footer-grid p{
	  font-size:14px;
	  color:#999;
	  line-height:1.8em;
	  margin:0;
  }
  .footer-grid p span{
	  display:block;
	  margin:1em 0 0;
  }
  .footer-grid ul li{
	  list-style-type:none;
	  margin-bottom:1em;
	  color:#999;
	  font-size:14px;
  }
  .footer-grid ul li i{
	  color: #999;
	  border: 1px solid #999;
	  padding:.5em;
	  border-radius: 100%;
	  -webkit-border-radius: 100%;
	  -moz-border-radius: 100%;
	  -o-border-radius: 100%;
	  -ms-border-radius: 100%;
	  margin-right: 1em;
  }
  .footer-grid ul li span{
	  display:block;
	  margin-left: 3em;
  }
  .footer-grid ul li a{
	  color:#999;
	  text-decoration:none;
  }
  .footer-grid ul li a:hover{
	  color:#fff;
  }
  .footer-grid-left{
	  float:left;
	  width:33.33%;
	  padding:.3em;
  }
  .footer-grid-sub-grid-left{
	  float:left;
	  width:30%;
  }
  .footer-grid-sub-grid-right{
	  float:right;
	  width:62%;
  }
  .footer-grid-sub-grid-right h4 a{
	  text-transform: capitalize;
	  font-size: 1em;
	  line-height: 1.5em;
	  color: #999;
	  text-decoration: none;
  }
  .footer-grid-sub-grid-right h4 a:hover{
	  color:#fff;
  }
  .footer-grid-sub-grid-right p{
	  margin:.5em 0 0;
	  color:#999;
	  font-size:14px;
	  line-height:1.8em;
  }
  .footer-grid-sub-grids:nth-child(3){
	  margin:1em 0 0;
  }
  .footer-logo{
	  text-align:center;
	  margin:3em 0;
  }
  .footer-logo h2 a{
	  font-size: 2em;
	  color:#575757;
	  text-decoration: none;
	  position: relative;
  }
  .footer-logo h2{
	  position:relative;
  }
  .footer-logo h2 a span{
	  display:block;
	  font-size:.2em;
	  letter-spacing:5px;
	  text-transform:uppercase;
  }
  .footer-logo h2:before,.footer-logo h2:after{
	  content: '';
	  width: 30%;
	  height: 4px;
	  border-top: 1px solid #575757;
	  border-bottom: 1px solid #575757;
	  position: absolute;
	  top: 60%;
  }
  .footer-logo h2:before{
	  left: 0%;
  }
  .footer-logo h2:after{
	  right: 0%;
  }
  .copy-right p{
	  text-align:center;
	  color:#999;
	  margin:0;
	  line-height:1.8em;
  }
  .copy-right p a{
	  color:#fff;
	  text-decoration:none;
  }
  .copy-right p a:hover{
	  color:#999;
  }
  /*-- //footer --*/
  /*-- timer --*/
  .timer-grid-left h3 a{
	  text-transform:capitalize;
	  font-size:1.5em;
	  color:#212121;
	  margin:0;
	  line-height:1.5em;
	  text-decoration:none;
  }
  .timer-grid-left h3 a:hover{
	  color:#D8703F;
  }
  .timer-grid-left-price h4{
	  color:#999;
	  font-size:14px;
	  margin:1em 0 2em;
	  line-height:1.8em;
	  font-family: 'Open Sans', sans-serif;
  }
  .timer-grid-left h3 {
	  margin: 0 0 0.5em;
  }
  /* ---------- TIMER ---------- */
  #counter {
	  height: 125px;
	  font-size: 40px;
	  color:#212121;
	  overflow: hidden;
  }
  .countHours,.countDays,.countMinutes {
	  border-right: 1px solid #E3E3E3;
  }
  .countDays, .countHours, .countMinutes, .countSeconds {
	  display:inline-block;
	  padding: 0.5em 0;
  }
  .points {
	  float: left;
	  width:40px;
	  margin: 0;
	  font-size: 44px;
	  font-weight: bold;
	  text-align: center;
	  line-height: 138px;
	  text-shadow: none;
	  color:#999;
	  display: none;
  }
  .boxName {
	  float: left;
	  width: 100%;
	  font-size: 14px;
	  color: #999;
	  font-weight: 500;
	  clear: both;
	  padding: 0px;
	  font-family: 'Open Sans', sans-serif;
  }
  /* ---------- /TIMER ---------- */
  .timer-grid-right {
	  padding: 1em;
	  background: #F7F7F9;
	  position:relative;
  }
  .timer-grid-right-pos{
	  position:absolute;
	  top:0%;
	  right:0%;
  }
  .timer-grid-right-pos h4{
	  padding:.3em 1em .5em;
	  background:#ffc229;
	  font-size:1em;
	  color:#fff;
	  text-decoration:none;
  }
  /*-- //timer --*/
  /*-- products --*/
  .breadcrumbs{
	  padding:1.5em 0;
	  background:#f5f5f5;
  }
  .breadcrumb1{
	  padding:0;
	  margin:0;
  }
  .breadcrumb1 li{
	  font-size:1em;
	  color:#999;
  }
  .breadcrumb1 li a{
	  color:#d8703f;
	  text-decoration:none;
  }
  .breadcrumb1 li span {
	  left: 0em;
	  padding-right: 1em;
	  color: #D8703F;
  }
  .sorting{
	  float:right;
	  width: 35%;
  }
  .sorting-left{
	  float: right;
	  margin-right: 2em;
	  width: 25%;
  }
  select#country,select#country1 {
	  border: 1px solid #212121;
	  outline: none;
	  font-size: 14px;
	  color: #212121;
	  padding: 0.5em;
	  width: 100%;
	  cursor: pointer;
  }
  .products-right-grids{
	  margin-bottom: 2em;
  }
  .products-right-grids-bottom {
	  background: #F7F7F9;
	  padding:1em 0 1em 1em;
  }
  .products-right-grid1{
	  text-align:center;
  }
  .products-right-grid1-add-cart p i {
	  color: #999;
	  position: relative;
	  font-style: normal;
	  font-size: 14px;
  }
  .products-right-grid1-add-cart p,.new-products-grid-right-add-cart p{
	  margin: 0 !important;
	  text-transform: capitalize;
	  color: #000;
	  font-size: 1.2em !important;
  }
  .products-right-grid1-add-cart p a,.new-products-grid-right-add-cart p a {
	  font-size: 14px;
	  color: #D8703F;
	  margin: 1em 0 0;
	  text-decoration: none;
	  text-transform: uppercase;
	  padding: 0em 1em;
	  border: 1px solid;
  }
  .products-right-grid1-add-cart p a{
	  display: block;
  }
  .products-right-grid1-add-cart p span {
	  margin-left: 1em;
  }
  .products-right-grid1:hover:before {
	  height:62% !important;
  }
  .products-right-grid1:before {
	  height: 60% !important;
  }
  .products-right-grids-pos {
	  top: 40% !important;
	  left: 20% !important;
  }
  .products-right-grids-pos-right{
	  bottom: 35% !important;
	  left: 26% !important;
  }
  .products-right-grids-bottom-grid {
	  padding-left: 0;
  }
  .products-right-grid1:nth-child(2) {
	  margin: 1em 0 !important;
  }
  .numbering{
	  text-align:right;
  }
  ul.paging {
	  margin: 4em auto 0;
  }
  .paging > .active > a,.paging > .active > a:hover {
	  background-color:#ffc229;
	  border-color:#EDB62B;
  }
  .pagination > li > a{
	  color:#212121;
  }
  .categories,.new-products{
	  border:1px solid #999;
  }
  .categories{
	  margin:3em 0;
  }
  .categories h3,.filter-price h3,.new-products h3{
	  font-size: 1.5em;
	  color: #212121;
	  margin: 0;
	  padding: .5em;
	  background: #f5f5f5;
	  text-transform: uppercase;
	  text-align: center;
	  letter-spacing: 5px;
  }
  .filter-price h3{
	  background:none;
  }
  .categories ul.cate,.new-products-grids{
	  padding:2em;
  }
  .categories ul li a{
	  color:#999;
	  text-decoration:none;
  }
  .categories ul li a:hover{
	  color:#d8703f;
  }
  .categories ul li span{
	  float:right;
  }
  ul.cate ul{
	  margin-left:2em;
  }
  ul.dropdown-menu1 li{
	  display:block;
	  font-size:14px;
  }
  ul.dropdown-menu1 li a{
	  color:#212121;
	  text-decoration:none;
  }
  input#amount {
	  outline: none;
	  margin: 0 auto;
	  text-align: center;
	  width: 100%;
  }
  .new-products-grid-left{
	  float:left;
	  width:35%;
  }
  .new-products-grid-right{
	  float:right;
	  width:60%;
  }
  .new-products-grid-right h4 a{
	  text-transform:uppercase;
	  font-size: 14px;
	  line-height: 1.8em;
	  color:#212121;
	  text-decoration:none;
	  display:block;
	  margin-bottom:.5em;
  }
  .new-products-grid-right h4 a:hover{
	  color:#d8703f;
  }
  .new-products-grid-right-add-cart p span {
	  display: block;
	  margin: 0.5em 0 1em;
  }
  .new-products-grid-right-add-cart p a{
	  padding:.5em 1em;
  }
  .new-products-grid:nth-child(2){
	  margin:3em 0;
  }
  .products-right-grids-position,.timer-grid-right1{
	  position: relative;
	  display: block;
	  overflow: hidden;
  }
  .products-right-grids-position1{
	  position:absolute;
	  top:40%;
	  left: 10%;
  }
  .products-right-grids-position1 h4{
	  text-transform: uppercase;
	  font-size: 1.5em;
	  color: #fff;
	  letter-spacing: 3px;
	  padding-bottom: .53em;
	  border-bottom: 1px solid #fff;
	  width: 50%;
  }
  .products-right-grids-position1 p{
	  margin:1em 0 0;
	  color:#fff;
	  font-size:14px;
	  width:85%;
	  line-height:1.8em;
  }
  .men-position {
	  margin: 3em 0 0;
	  position: relative;
	  padding:1em;
	  background:#F7F7F9;
  }
  .men-position-pos{
	  position:absolute;
	  top: 30%;
	  left: 15%;
  }
  .men-position-pos h4{
	  text-transform:uppercase;
	  font-size:2em;
	  color:#fff;
	  margin:0;
	  padding-bottom:1em;
	  position:relative;
  }
  .men-position-pos h4:after{
	  content: '';
	  background: #fff;
	  width: 50%;
	  right: 15%;
	  height: 2px;
	  position: absolute;
	  bottom: 0%;
  }
  .men-position-pos h5{
	  margin:1em 0 0;
	  color:#fff;
	  text-transform:uppercase;
	  font-size:2em;
	  text-align: center;
  }
  .men-position-pos h5 span{
	  color:#ffc229;
	  font-weight:600;
  }
  /*-- //products --*/
  /*--Typography--*/
  .well {
	  font-weight: 300;
	  font-size: 14px;
  }
  .list-group-item {
	  font-weight: 300;
	  font-size: 14px;
  }
  li.list-group-item1 {
	  font-size: 14px;
	  font-weight: 300;
  }
  .typo p {
	  margin: 0;
	  font-size: 14px;
	  font-weight: 300;
  }
  .show-grid [class^=col-] {
	  background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
  }
  .show-grid [class*="col-"]:hover {
	background: #e0e0e0;
  }
  .grid_3{
	  margin-bottom:2em;
  }
  .xs h3, h3.m_1{
	  color:#000;
	  font-size:1.7em;
	  font-weight:300;
	  margin-bottom: 1em;
  }
  .grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
  }
  .grid_4{
	  background:none;
	  margin-top:50px;
  }
  .label {
	font-weight: 300 !important;
	border-radius:4px;
  }  
  .grid_5{
	  background:none;
	  padding:2em 0;
  }
  .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	  margin-bottom: 1em;
	  color:#D8703F;
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
  }
  .tab-content > .active {
	display: block;
	visibility: visible;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
  }
  .badge-primary {
	background-color: #03a9f4;
  }
  .badge-success {
	background-color: #8bc34a;
  }
  .badge-warning {
	background-color: #ffc107;
  }
  .badge-danger {
	background-color: #e51c23;
  }
  .grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
  }
  .bs-docs-example {
	margin: 1em 0;
  }
  section#tables  p {
   margin-top: 1em;
  }
  .tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
  }
  .table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
  }
  .tab-content > .active {
	display: block;
	visibility: visible;
  }
  .label {
	font-weight: 300 !important;
  }
  .label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
  }
  .nav-tabs {
	margin-bottom: 1em;
  }
  .alert {
	font-size: 0.85em;
  }
  h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
  line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
  }
  li.list-group-item1 {
	line-height: 2.5em;
  }
  .input-group {
	margin-bottom: 20px;
	}
  .list-group {
	margin-bottom: 48px;
  }
   ol {
	margin-bottom: 44px;
  }
  h2.typoh2{
	  margin: 0 0 10px;
  }
  @media (max-width:768px){
	  .grid_5 {
		  padding: 0 0 1em;
	  }
	  .grid_3 {
		  margin-bottom: 0em;
	  }
  }
  @media (max-width:640px){
	  h1, .h1, h2, .h2, h3, .h3 {
		  margin-top: 0px;
		  margin-bottom: 0px;
	  }
	  .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		  margin-bottom: .5em;
	  }
	  .progress {
		  height: 10px;
		  margin-bottom: 10px;
	  }
	  ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		  font-size: 14px;
	  }
	  .breadcrumb {
		  margin-bottom: 10px;
	  }
	  .well {
		  font-size: 14px;
		  margin-bottom: 10px;
	  }
	  h2.typoh2 {
		  font-size: 1.5em;
	  }
  }
  @media (max-width:480px){
	  .table h1 {
		  font-size: 26px;
	  }
	  .table h2 {
		  font-size: 23px;
	  }
	  .table h3 {
		  font-size: 20px;
	  }
	  .label {
		  font-size: 53%;
	  }
	  .alert,p {
		  font-size: 14px;
	  }
	  .pagination {
		  margin: 20px 0 0px;
	  }
  }
  @media (max-width: 320px){
	  .caption span {
		  margin: 0 0 1.5em;
	  }
	  .grid_4 {
		  margin-top: 18px;
	  }
	  h3.title {
		  font-size: 1.6em;
	  }
	  .alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		  font-size: 13px;
	  }
	  .alert {
		  padding: 10px;
		  margin-bottom: 10px;
	  }
	  ul.pagination li a {
		  font-size: 14px;
		  padding: 5px 11px;
	  }
	  .list-group {
		  margin-bottom: 10px;
	  }
	  .well {
		  padding: 10px;
	  }
	  .nav > li > a {
		  font-size: 14px;
	  }
	  table.table.table-striped,.table-bordered,.bs-docs-example {
		  display: none;
	  }
  }
  /*-- //Typography --*/
  /*-- mail --*/
  .mail h3:before{
	  left:25%;
  }
  .mail h3:after{
	  right:25%;
  }
  .mail-grids{
	  margin:3em 0;
  }
  .mail-grid-left input[type="text"],.mail-grid-left input[type="email"],.mail-grid-left textarea{
	  outline: none;
	  border: 1px solid #E4E4E4;
	  background: #f5f5f5;
	  font-size: 14px;
	  color: #212121;
	  padding: 10px;
	  width: 100%;
  }
  .mail-grid-left input[type="email"]{
	  margin:1em 0;
  }
  .mail-grid-left textarea{
	  min-height:200px;
	  margin:1em 0 .8em;
  }
  .mail-grid-left input[type="submit"]{
	  outline:none;
	  border:none;
	  background:#d8703f;
	  font-size:1em;
	  color:#fff;
	  padding:10px 0;
	  width:30%;
  }
  .mail-grid-left input[type="submit"]:hover{
	  background:#ffc229;
  }
  .mail-grid-right1{
	  padding:2em;
	  background:#ffc229;
	  text-align:center;
  }
  .mail-grid-right1 img {
	  margin: 0 auto;
	  padding: .5em;
	  border: 1px dotted #212121;
	  border-radius: 100%;
	  -webkit-border-radius: 100%;
	  -moz-border-radius: 100%;
	  -o-border-radius: 100%;
	  -ms-border-radius: 100%;
  }
  .mail-grid-right1 h4{
	  font-size:1em;
	  color:#212121;
	  margin:1em 0;
	  text-transform:uppercase;
  }
  .mail-grid-right1 h4 span{
	  display: block;
	  text-transform: capitalize;
	  font-size: .8em;
	  color:#FFFFFF;
	  margin: .5em 0 0;
  }
  .mail-grid-right1 ul.phone-mail li{
	  list-style-type:none;
	  margin-bottom:1em;
	  font-size:14px;
	  color:#FFFFFF;
  }
  .mail-grid-right1 ul.phone-mail li a{
	  color:#FFFFFF;
	  text-decoration:none;
  }
  .mail-grid-right1 ul.phone-mail li a:hover{
	  color:#212121;
  }
  .mail-grid-right1 ul li i{
	  left:-.5em;
  }
  ul.phone-mail {
	  margin: 0 0 2em;
  }
  .mail iframe{
	  width:100%;
	  min-height:300px;
	  padding:0 1em;
  }
  /*-- //mail --*/
  /*-- wmuslider --*/
  .wmuSlider {
	  position: relative;
	  overflow: hidden;
  }
  .wmuSlider .wmuSliderWrapper article img {
	  /*--max-width: 100%;
	  width: auto;
	  height: auto;
	  display:block;--*/
  }
  /* Default Skin */
  .wmuSliderPagination {
	  z-index: 2;
	  position: absolute;
	  left:45%;
	  bottom:10%;
  }
  ul.wmuSliderPagination {
	  padding:0;
  }
  .wmuSliderPagination li {
	  float: left;
	  margin: 0 8px 0 0;
	  list-style-type: none;
  }
  .wmuSliderPagination a {
	  display: block;
	  text-indent: -9999px;
	  width: 50px;
	  height: 5px;
	  background: transparent;
	  border: 2px solid #fff;
  }
  .wmuSliderPagination a.wmuActive {
	  background:transparent;
	  border: 2px solid #ffc229;
  }
  /* Default Skin */
  .wmuGallery .wmuGalleryImage {
	  margin-bottom: 10px;
  }
  .banner-wrap{
	  padding:0px 0 5em;
  }
  /*-- //wmuslider --*/
  /*-- single --*/
  .single-right-left h3{
	  text-transform:capitalize;
	  font-size:2em;
	  color:#212121;
	  margin:0;
  }
  .single-right-left h4{
	  color:#D8703F;
	  font-size:1.5em;
	  margin:.5em 0 1em;
  }
  .description{
	  margin:2em 0;
  }
  .description h5{
	  color:#212121;
	  font-size:1em;
	  margin:0;
  }
  .description p{
	  font-size:14px;
	  color:#999;
	  line-height:1.8em;
	  margin:0.5em 0 0;
  }
  .color-quality-left{
	  float:left;
  }
  .color-quality-left h5,.color-quality-right h5,.occasional h5{
	  text-transform:uppercase;
	  font-size:1em;
	  color:#212121;
	  margin:0 0 1em;
  }
  .color-quality-left ul li{
	  display:inline-block;
	  margin-right:.5em;
  }
  .color-quality-left ul li a{
	  font-size:14px;
	  color:#999;
	  text-decoration:none;
  }
  .color-quality-left ul li a span{
	  width: 15px;
	  height: 15px;
	  display: block;
	  background: #ff0000;
	  margin: 0 auto .5em;
  }
  .color-quality-left ul li a.brown span{
	  background: #00008c;
  }
  .color-quality-left ul li a.purple span{
	  background: #840084;
  }
  .color-quality-left ul li a.gray span{
	  background: #ff00ff;
  }
  .color-quality-right{
	  float:right;
  }
  .occasional{
	  margin:2em 0;
  }
  label.radio {
	  font-size: 14px;
	  font-weight: 500;
	  color: #999;
	  padding-left: 20px;
	  margin: 0;
  }
  .radio i{
	  position: absolute;
	  top: 5px;
	  left: 0;
	  display: block;
	  width: 10px;
	  height: 10px;
	  outline: none;
	  background:#D8703F;
	  border-radius: 50%;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -o-border-radius: 50%;
	  -ms-border-radius: 50%;
  }
  .radio input + i:after {
	  content: '';
	  top: 2px;
	  left: 2px;
	  width: 6px;
	  height: 6px;
	  border-radius: 50%;
	  background-color: #fff !important;
  }
  .colr {
	  float: left;
	  margin-right: 1em;
  }
  .social-left{
	  float:left;
  }
  .social-right{
	  float:left;
	  margin-left:2em;
  }
  .social-left p{
	  font-size:14px;
	  color:#999;
	  margin:0;
  }
  .social{
	  margin: 2em 0 0;
	  padding: 1em 0;
	  border-top: 1px solid #DFDFDF;
	  border-bottom: 1px solid #DFDFDF;
  }
  .bootstrap-tab {
	  margin: 5em 0 0;
  }
  .bootstrap-tab-text p{
	  font-size:14px;
	  color:#999;
	  line-height:1.8em;
  }
  .bootstrap-tab-text h5,.add-review h4{
	  text-transform:uppercase;
	  font-size:1.2em;
	  color:#212121;
	  margin:2em 0;
  }
  .bootstrap-tab-text p span{
	  display:block;
	  margin:2em 0 0;
  }
  .bootstrap-tab ul li a {
	  font-size: 1em;
	  color: #999;
  }
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	  background-color: #D8703F;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	  color: #d8703f !important;
  }
  .bootstrap-tab-text-grid-left{
	  float:left;
	  width:20%;
  }
  .bootstrap-tab-text-grid-right{
	  float:right;
	  width:75%;
  }
  .bootstrap-tab-text-grid-right ul li{
	  display:inline-block;
  }
  .bootstrap-tab-text-grid-right ul li:nth-child(2){
	  float:right;
  }
  .bootstrap-tab-text-grid-right ul li a{
	  font-size:1em;
	  color:#D8703F;
	  text-transform:uppercase;
	  text-decoration:none;
  }
  .bootstrap-tab-text-grid-right ul li a:hover{
	  color: #212121;
  }
  .bootstrap-tab-text-grid-right ul li a span{
	  left:-1em;
  }
  .bootstrap-tab-text-grids{
	  margin:3em 0 0 5em;
  }
  .bootstrap-tab-text-grid-right p{
	  margin:2em 0 0;
	  color:#999;
	  font-size:14px;
	  line-height:1.8em;
  }
  .bootstrap-tab-text-grid:nth-child(2){
	  margin:3em 0 0;
  }
  .add-review form{
	  margin:2em 0 0;
  }
  .add-review input[type="text"],.add-review input[type="email"],.add-review textarea{
	  outline:none;
	  padding:10px;
	  background:#f5f5f5;
	  border:1px solid #D2D2D2;
	  width:48.6%;
	  font-size:14px;
	  color:#212121;
  }
  .add-review input[type="email"]{
	  margin-left:1em;
  }
  .add-review textarea{
	  width:100% !important;
	  min-height:150px;
	  margin-bottom:.8em;
  }
  .add-review input[type="text"]:nth-child(3){
	  width:100%;
	  margin:1em 0;
  }
  .add-review input[type="submit"]{
	  outline:none;
	  padding:10px 0;
	  background:#ffc229;
	  border:none;
	  width:30%;
	  font-size:1em;
	  color:#fff;
  }
  .add-review input[type="submit"]:hover{
	  background: #D8703F;
  }
  .single-related-products{
	  background: #F7F7F9;
  }
  .header-grid-left ul li.active,.header-grid-left ul li.active a{
	  color:#d8703f;
  }
  /*-- Ratings --*/
  .rating1 {
	  direction:ltr;
  }
  .starRating:not(old) {
	  display: inline-block;
	  height: 18px;
	  width:100px;
	  overflow: hidden;
  }
  
  .starRating:not(old) > input{
	margin-right :-26%;
	opacity      : 0;
  }
  
  .starRating:not(old) > label:hover:before,
  .starRating:not(old) > label:hover ~ label:before,
  .starRating:not(:hover) > :checked ~ label:before{
	opacity : 1;
  }
  /*-- //Ratings --*/
  /*-- //single --*/
  /*-- login --*/
  .login-form-grids{
	  width: 45%;
	  padding: 3em;
	  background:#F7F7F9;
	  margin:3em auto 0;
  }
  .login-form-grids input[type="email"],.login-form-grids input[type="password"],.login-form-grids input[type="text"]{
	  outline: none;
	  border: 1px solid #DBDBDB;
	  padding: 10px 10px 10px 45px;
	  font-size: 14px;
	  color: #999;
	  display: block;
	  width: 100%;
  }
  .forgot {
	margin: 1.5em 0 0;
  }
  .login-form-grids input[type="submit"]{
  outline: none;
	border: none;
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	display: block;
	width: 100%;
	background:#25bce9;
	margin: 1.5em 0 0;
  }
  .login-form-grids input[type="submit"]:hover{
  background:#d8703f;
  }
  .login-form-grids ::-webkit-input-placeholder{
  color:#999;
  }
  .forgot a{
  color:#212121;
  font-size:14px;
  text-decoration:none;
  }
  .forgot a:hover{
  color:#d8703f;
  }
  .login h4{
  margin: 2em 0 0.5em;
	font-size: 1.5em;
	color: #212121;
	text-align: center;
	text-transform: uppercase;
  }
  .login p{
  font-size:14px;
  color:#999;
  line-height:1.8em;
  margin:0;
  text-align:center;
  }
  .login p a{
  color:#d8703f;
  text-decoration:none;
  font-size: 1.2em;
  padding: 0 .5em;
  }
  .login p a:hover{
  color:#212121;
  }
  .login p a span{
  top: 0.1em;
	font-size: .7em;
	left: 0.3em;
  }
  /*-- //login --*/
  /*-- register --*/
  .register h3:before{
  left:20%;
  }
  .register h3:after{
  right:20%;
  }
  .login-form-grids h5,.login-form-grids h6{
  font-size:1em;
  color:#212121;
  text-transform:uppercase;
  margin:0 0 2em;
  }.register-check-box label{
	  font-size:14px;
	  font-weight:500;
	  color:#999;
	  margin: 1.5em 0 0 0em;
  }
  .checkbox {
	  position: relative;
	  padding-left: 38px !important;
	  cursor: pointer;
  }
  .checkbox i {
	  position: absolute;
	  bottom: -2px;
	  left: 0;
	  display: block;
	  width: 25px;
	  height: 25px;
	  outline: none;
	  border: 2px solid #EDEDED;
	  background: #FFF;
  }
  .checkbox input + i:after,.radio input + i:after {
	  position: absolute;
	  opacity: 0;
	  transition: opacity 0.1s;
	  -o-transition: opacity 0.1s;
	  -ms-transition: opacity 0.1s;
	  -moz-transition: opacity 0.1s;
	  -webkit-transition: opacity 0.1s;
  }
  .checkbox input:checked + i:after,.radio input:checked + i:after{
	  opacity: 1;
  }
  .checkbox input,.radio input {
	  position: absolute;
	  left: -9999px;
  }
  .login-form-grids input[type="password"]:nth-child(3) {
	margin:1em 0;
  }
  .register-home{
  margin:2em 0 0;
  text-align:center;
  }
  .register-home a{
  padding: 8px 45px;
	background: #9F9F9F;
  color:#fff;
  font-size:1em;
  text-decoration:none;
  }
  .register-home a:hover{
  background:#d8703f;
  }/*-- //register --*/
  /*-- checkout --*/
  .checkout h3{
	  font-size:1em;
	  color:#212121;
	  text-transform:uppercase;
	  margin:0 0 3em;
  }
  .checkout h3 span{
	  color:#d8703f;
  }
  table.timetable_sub {
	  width:100%;
	  margin:0 auto;
  }
  .timetable_sub thead {
	  background: #004284;
  }
  .timetable_sub th{
	  background:#D8703F;
	  color: #fff !important;
	  text-transform: capitalize;
	  font-size: 13px;
	  border-right:1px solid #A95832;
  }
  .timetable_sub th, .timetable_sub td {
	  text-align: center;
	  padding: 7px;
	  font-size: 14px;
	  color: #212121;
  }
  .timetable_sub td {
	  border:1px solid #CDCDCD;
  }
  td.invert-image a img {
	  width:30%;
	  margin: 0 auto;
  }
  .rem{
	  position:relative;
  }
  /*-- quantity-starts --*/
  .value-minus,
  .value-plus{
	  height: 40px;
	  line-height: 24px;
	  width: 40px;
	  margin-right: 3px;
	  display: inline-block;
	  cursor: pointer;
	  position: relative;
	  font-size: 18px;
	  color: #fff;
	  text-align: center;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  border:1px solid #b2b2b2;
		  vertical-align: bottom;
  }
  .quantity-select .entry.value-minus:before,
  .quantity-select .entry.value-plus:before{
	  content: ""; 
	  width: 13px;
	  height: 2px; 
	  background: #000;
	  left: 50%;
	  margin-left: -7px; 
	  top: 50%;
	  margin-top: -0.5px;
	  position: absolute;
  }
  .quantity-select .entry.value-plus:after{
	  content: "";
	  height: 13px;
	  width: 2px; 
	  background: #000;
	  left: 50%; 
	  margin-left: -1.4px;
	  top: 50%;
	  margin-top: -6.2px;
	  position: absolute;
  }
  .value  {
	  cursor: default;
	  width: 40px;
	  height:40px;
	  padding: 8px 0px;
	  color: #A9A9A9;
	  line-height: 24px;
	  border: 1px solid #E5E5E5;
	  background-color: #E5E5E5;
	  text-align: center;
	  display: inline-block;
	  margin-right: 3px;
  }
  .quantity-select .entry.value-minus:hover,
   .quantity-select .entry.value-plus:hover{
	  background: #E5E5E5;
  }
  
  .quantity-select .entry.value-minus{
	  margin-left: 0;
  }
  /*-- quantity-end --*/
  .checkout-left-basket h4{
	  padding: 1em;
	  background:#FFC229;
	  font-size: 1.1em;
	  color: #fff;
	  text-transform: uppercase;
	  text-align: center;
	  margin: 0 0 1em;
  }
  .checkout-left {
	  margin: 2em 0 0;
  }
  .checkout-left-basket ul li{
	  list-style-type:none;
	  margin-bottom:1em;
	  font-size:14px;
	  color:#999;
  }
  .checkout-left-basket {
	  float: left;
	  width: 25%;
  }
  .checkout-right-basket{
	  float: right;
	  margin: 8em 0 0 0em;
  }
  .checkout-left-basket ul li span {
	  float: right;
  }
  .checkout-left-basket ul li:nth-child(5) {
	  font-size: 1em;
	  color: #212121;
	  font-weight: 600;
	  padding: 1em 0;
	  border-top: 1px solid #DDD;
	  border-bottom: 1px solid #DDD;
	  margin: 2em 0 0;
  }
  .checkout-right-basket a{
	  padding:10px 30px;
	  color:#fff;
	  font-size:1em;
	  background:#212121;
	  text-decoration:none;
  }
  .checkout-right-basket a:hover{
	  background:#D8703F;
  }
  .checkout-right-basket a span {
	  left: -.5em;
	  top: 0.1em;
  }
  /*-- //checkout --*/
  /*-----start-responsive-design------*/
  @media (max-width:1440px){
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 45%;
	  }
  }
  @media (max-width:1366px){
	  .sb-search {
		  right: 20%;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 50%;
	  }
	  .logo-nav {
		  padding: 1em 0 2em;
	  }
	  .products-right-grid1:hover:before {
		  height: 62% !important;
	  }
  }
  @media (max-width:1280px){
	  .banner-info {
		  margin: 5px;
	  }
	  .banner {
		  min-height: 300px;
	  }
  }
  @media (max-width:1080px){
	  .logo-nav-left h1 a {
		  font-size: 1.2em;
	  }
	  .logo-nav-left h1 a span {
		  letter-spacing: 9px;
	  }
	  .navbar-collapse {
		  padding: 0;
	  }
	  .navbar-nav > li > a {
		  padding: 25px 15px 0;
	  }
	  .sb-search {
		  right: 18%;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 55%;
	  }
	  .banner-info h3 {
		  font-size: 4.5em;
	  }
	  .banner-info1 p {
		  font-size: 1.5em;
	  }
	  .banner-info {
		  margin: 5px;
	  }
	  .banner {
		  min-height: 555px;
	  }
	  .banner-bottom, .new-collections, .checkout, .collections-bottom, .timer, .register, .products, .typo, .mail, .single, .login, .single-related-products {
		  padding: 4em 0;
	  }
	  .grid figure {
		  min-width: 310px;
	  }
	  .grid figure h3 i {
		  font-size: .4em;
		  letter-spacing: 4px;
	  }
	  figure.effect-julia h3 {
		  padding: 0em 0 1em;
	  }
	  figure.effect-julia p {
		  font-size: 57%;
	  }
	  .banner-bottom-grid-left1-pos1 {
		  padding: .8em;
	  }
	  .banner-bottom-grid-right {
		  width: 31.4%;
	  }
	  .grid-left-grid1-pos p {
		  font-size: 1.5em;
	  }
	  .banner-bottom-grid-left1 {
		  width: 32%;
	  }
	  .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
		  font-size: 2.6em;
	  }
	  .new-collections-grid1-left p a{
		  margin: 1em 0 0;
		  padding: 0em 1em;
		  width: 65%;
		  text-align: center;
		  display:block;
	  }
	  .new-collections-grid1 p {
		  font-size: 12px;
	  }
	  .new-collections-grid1:hover:before {
		  height:61%;
	  }
	  .new-collections-grid1:before {
		  height:65%;
	  }
	  .new-collections-grid1-left {
		  margin: 0.5em 0 .8em;
	  }
	  .new-collections-grid1-sub {
		  float: left;
		  width: 48.2%;
	  }
	  .new-collections-grid1-image-pos a {
		  padding: 7px 20px;
	  }
	  .new-collections-grid1-image-pos {
		  top: 40%;
		  left: 22%;
	  }
	  .new-collections-grid1-right {
		  bottom: 37%;
		  left: 28%;
	  }
	  .new-collections-grid1-image-pos1 {
		  left: 37% !important;
	  }
	  .new-collections-grid1-right-rate {
		  left: 39.5% !important;
	  }
	  .timer-grid-left h3 a {
		  font-size: 1.3em;
	  }
	  .timer-grid-left-price p a {
		  padding: .5em 1em;
		  margin: 0;
		  width: auto;
		  display: -webkit-inline-box;
	  }
	  .collections-bottom-grid h3 {
		  font-size: 2.5em;
	  }
	  .collections-bottom-grids {
		  min-height: 425px;
	  }
	  .newsletter form {
		  width: 72%;
	  }
	  .footer-grid h3 {
		  font-size: 1.7em;
	  }
	  .footer-grid-sub-grid-right h4 a {
		  font-size: .9em;
	  }
	  .footer-logo {
		  margin: 2em 0 3em;
	  }
	  .footer-logo h2:before, .footer-logo h2:after {
		  width: 33%;
	  }
	  .filter-price h3 {
		  padding: 0 !important;
	  }
	  .products-right-grids-position1 h4 {
		  width: 63%;
	  }
	  .products-right-grids-position1 p {
		  width: 100%;
	  }
	  .products-right-grids-position1 {
		  top: 35%;
	  }
	  .products-right-grids-pos {
		  left: 12% !important;
	  }
	  .products-right-grids-pos-right {
		  left: 21% !important;
	  }
	  .products-right-grid1:hover:before {
		  height: 56% !important;
	  }
	  .men-position-pos {
		  top: 20%;
	  }
	  .single-right-left h3 {
		  font-size: 1.8em;
	  }
	  .colr {
		  margin-right: 0.4em;
	  }
	  .bootstrap-tab-text-grids {
		  margin: 2em 0 0 0em;
	  }
	  .add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
		  width: 48.4%;
	  }
	  .checkout-left-basket {
		  width: 40%;
	  }
	  .login-form-grids {
		  width: 60%;
	  }
	  .dropdown-menu.columns-3{
		  left: -110%;
	  }
  }
  @media (max-width:1024px){
	  .banner-bottom-grid-left1-pos1 p,.banner-bottom-grid-left1-pos p {
		  font-size: 1.8em;
	  }
	  .header-right {
		  width: 16%;
	  }
	  .dropdown-menu.columns-3 {
		  left: -150%;
	  }
  }
  @media (max-width:991px){
	  .logo-nav-left1 ul li a {
		  font-size: 12px;
	  }
	  .logo-nav-left h1 a {
		  font-size: 1.1em;
	  }
	  .navbar-nav > li > a {
		  padding: 20px 10px 0;
	  }
	  .logo-nav-left1 {
		  margin-left: 0em;
	}
	.sb-search {
		  min-width: 35px;
		  height: 35px;
	  }
	  .sb-icon-search, .sb-search-submit {
		  width: 35px;
		  height: 35px;
	  }
	  .sb-search-input {
		  height: 35px;
	  }
	  .sb-search {
		  right: 21%;
	  }
	  .header-right {
		  width:13%;
	  }
	  .box_1 h3 {
		  font-size: 9px;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 46%;
	  }
	  .banner-info h3 {
		  font-size: 4em;
	  }
	  .banner-info h4 {
		  font-size: 2.5em;
	  }
	  .banner {
		  min-height: 500px;
	  }
	  .banner-info1 p {
		  width: 75%;
	  }
	  .grid figure {
		  min-width: 238px;
	  }
	  figure.effect-julia h3 {
		  font-size: 1.6em;
	  }
	  .grid figure h3 i {
		  letter-spacing: 2px;
	  }
	  .grid figure figcaption {
		  padding: 1em;
	  }
	  .grid figure p {
		  letter-spacing: 0px;
	  }
	  .banner-bottom-grid-left1-pos1 p, .banner-bottom-grid-left1-pos p {
		  font-size: 1.5em;
	  }
	  .banner-bottom-grid-left1-position {
		  padding: .5em;
	  }
	  .banner-bottom-grid-left1 {
		  width:31.7%;
		  margin: 0 0.5em;
	  }
	  .banner-bottom-grid-right {
		  width: 30.8%;
	  }
	  .banner-bottom-grid-right {
		  width: 31.8%;
	  }
	  .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
		  font-size: 2em;
	  }
	  .banner-bottom, .new-collections, .checkout, .collections-bottom, .timer, .register, .products, .typo, .mail, .single, .login, .single-related-products {
		  padding: 3em 0;
	  }
	  .new-collections-grid,.products-right-grids-bottom-grid {
		  width: 47%;
		  margin: 0 auto;
	  }
	  .new-collections-grids {
		  margin: 2em 0 0;
	  }
	  .new-collections-grid1:hover:before {
		  height:69% !important;
	  }
	  .new-collections-grid1:before {
		  height: 70% !important;
	  }
	  .new-collections-grid1-image-pos {
		  left: 31% !important;
	  }
	  .new-collections-grid1-right {
		  bottom: 43% !important;
		  left: 34% !important;
	  }
	  .new-collections-grid1-image-width:before {
		  height: 60% !important;
	  }
	  .new-collections-grid1-image-width:hover:before {
		  height: 60% !important;
	  }
	  .new-collections-grid1-image-width:hover:before {
		  height: 52% !important;
	  }
	  .new-collections-grid1-image-pos1 {
		  left: 33% !important;
	  }
	  .new-collections-grid1-right-rate {
		  left: 37.5% !important;
		  bottom: 30% !important;
	  }
	  .new-collections-grid:nth-child(2) {
		  margin: 1em auto;
	  }
	  .dropdown-menu.columns-3 {
		  min-width: 585px;
	  }
	  ul.multi-column-dropdown h6 {
		  font-size: 1.2em;
	  }
	  .new-collections-grid1-sub {
		  float: none;
		  width: 100%;
	  }
	  .new-collections-grid1-sub:nth-child(2) {
		  margin: 1em 0 0;
	  }
	  .timer-grid-right {
		  width: 60%;
		  margin: 2em auto 0;
	  }
	  .collections-bottom-grid {
		  width: 68%;
		  margin-left: 2em;
	  }
	  .collections-bottom-grids {
		  min-height: 280px;
		  padding: 3.5em 2em 2em;
	  }
	  .newsletter form {
		  width: 100%;
	  }
	  .footer-grid {
		  float: left;
		  width: 50%;
	  }
	  .footer-grid:nth-child(2) {
		  margin-bottom: 2em;
	  }
	  .footer-logo h2 a {
		  font-size: 1.8em;
	  }
	  .footer-logo h2:before, .footer-logo h2:after {
		  width: 30%;
	  }
	  .products-left {
		  width: 70%;
		  margin: 0 auto 2em;
	  }
	  .products-right-grids-position1 p {
		  width: 90%;
	  }
	  p.est {
		  width: 85%;
	  }
	  .mail-grid-right {
		  width: 50%;
		  margin: 2em auto 0;
	  }
	  .value-minus, .value-plus {
		  height: 25px;
		  width: 25px;
		  font-size: 10px;
		  margin-right: 0;
	  }
	  .value {
		  width: 25px;
		  height: 25px;
		  padding: 4px 0px;
		  line-height: 15px;
		  margin-right: 0;
	  }
	  .quantity-select .entry.value-plus:after {
		  height: 6px;
		  top: 60%;
		  margin-top: -4px;
	  }
	  .quantity-select .entry.value-minus:before, .quantity-select .entry.value-plus:before {
		  width: 6px;
		  margin-left: -3px;
	  }
	  .login-form-grids {
		  width: 75%;
	  }
  }
  @media (max-width:800px){
	  .dropdown-menu.columns-3 {
		  min-width: 490px;
		  padding: 1.5em;
	  }
	  .sb-search {
		  right: 14%;
	  }
	  .header-grid {
		  padding: 1em 0;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 57%;
	  }
	  .banner-info h3 {
		  font-size: 3.5em;
	  }
	  .banner-info {
		  margin: 5px;
	  }
	  .banner {
		  min-height: 470px;
	  }
	  .dropdown-menu {
		  left: -90%;
	  }
	  .single-right-left {
		  float: left;
		  width: 45%;
	  }
	  .single-right-left:nth-child(2){
		  width:55%;
	  }
	  .add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
		  width: 48.68%;
	  }
  }
  @media (max-width:768px){
	  .navbar-nav > li > a {
		  padding: 20px 9px 0;
	  }
	  .men-position-pos {
		  top: 41%;
	  }
	  .men-position-pos h4:after {
		  width: 80%;
		  right: -5%;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 58%;
	  }
	  .dropdown-menu {
		  left: -100%;
	  }
  }
  @media (max-width:767px){
	  .dropdown-menu {
		  left: 0%;
	  }
	  .navbar-nav {
		  margin: 1em 0 0;
		  background: #DFDFDF;
		  text-align: center;
		  padding-bottom: 1em;
	  }
	  .dropdown-menu.columns-3 {
		  min-width: 360px;
		  text-align: center;
		  padding: 0 1.5em;
	  }
	  ul.multi-column-dropdown h6 {
		  border-bottom: 1px solid #C3C3C3;
	  }
	  ul.multi-column-dropdown {
		  margin: 2em 0;
	  }
	  .logo-nav-left1 {
		  width: 50%;
	  }
	  .navbar-toggle {
		  margin: 1em 0 0;
	  }
	  .navbar-default .navbar-toggle {
		  border-color: #212121;
	  }
	  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		  background-color: transparent;
	  }
	  .navbar-default .navbar-toggle .icon-bar {
		  background-color: #212121;
	  }
	  .logo-nav {
		  padding: 1em 0;
	  }
	  .sb-search {
		  right: 17%;
		  margin-top:1em;
	  }
	  .search-box {
		  margin-top:0;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 55%;
	  }
	  .box_1 h3 {
		  font-size: 13px;
	  }
	  .header-right {
		  width: 15%;
	  }
	  .navbar {
		  margin-bottom: 0;
	  }
  }
  @media (max-width: 736px){
	  .logo-nav-left1 {
		  width:44%;
	  }
	  .sb-search {
		  right:21%;
	  }
	  .header-right {
		  width: 20%;
	  }
  }
  @media (max-width:667px){
	  .logo-nav-left1 {
		  width: 42%;
	  }
  }
  @media (max-width: 640px){
	  .header-right {
		  width: 21%;
	  }
	  .logo-nav-left1 {
		  width: 38%;
	  }
	  .sb-search {
		  right: 22%;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 76%;
	  }
	  .banner-info h3 {
		  font-size: 3em;
	  }
	  .banner-info h4 {
		  font-size: 2em;
	  }
	  .banner-info1 p {
		  font-size: 1.2em;
	  }
	  .banner {
		  min-height: 410px;
	  }
	  .banner-bottom-grid-left {
		  float: none;
		  width: 100%;
	  }
	  .grid figure {
		  min-width: 330px;
		  margin: 0 auto;
	  }
	  .grid figure figcaption {
		  padding: 2em;
	  }
	  .banner-bottom-grid-left1 {
		  margin: 1em auto;
		  float: none;
	  }
	  .banner-bottom-grid-left1-pos1 p, .banner-bottom-grid-left1-pos p {
		  font-size: 1.6em;
	  }
	  .banner-bottom-grid-left1-pos1 {
		  padding: 2em;
	  }
	  .banner-bottom-grid-right {
		  float: none;
		  margin: 0 auto;
	  }
	  .banner-bottom-grid-right,.banner-bottom-grid-left1{
		  width: 55%;
	  }
	  .new-collections h3:before, .single-related-products h3:before {
		  left: 13%;
	  }
	  .new-collections h3:after, .single-related-products h3:after{
		  right: 13%;
	  }
	  .new-collections-grid, .products-right-grids-bottom-grid {
		  width: 50%;
	  }
	  .new-collections-grid1-image-width:before {
		  height: 55% !important;
	  }
	  .new-collections-grid1-image-width:hover:before {
		  height: 48% !important;
	  }
	  .collections-bottom-grid {
		  width: 84%;
	  }
	  .collections-bottom-grid h3 {
		  font-size: 2em;
	  }
	  .navbar-nav > li > a {
		  padding: 14px 0 0;
	  }
	  .newsletter input[type="email"] {
		  width: 72%;
	  }
	  .footer-logo h2 a {
		  font-size: 1.5em;
	  }
	  .new-collections-grid1 p {
		  font-size: 14px;
	  }
	  .dropdown-menu.columns-3 {
		  min-width: auto;
	  }
	  .breadcrumbs {
		  padding: 1em 0;
	  }
	  .breadcrumb1 {
		  padding: 0;
	  }
	  .new-collections-grid1:before {
		  height: 66% !important;
	  }
	  .men-position-pos h4 {
		  font-size: 1.7em;
	  }
	  .men-position-pos {
		  top: 37%;
		  left: 8%;
	  }
	  .products-right-grids-position1 p {
		  width: 100%;
	  }
	  .products-right-grids-position1 {
		  left: 5%;
	  }
	  h3.title:before, .login h3:before {
		  left: 17%;
	  }
	  h3.title::after, .login h3:after {
		  right: 17%;
	  }
	  .mail h3:before {
		  left: 22%;
	  }
	  .mail h3:after {
		  right: 22%;
	  }
	  .mail-grid-right {
		  width: 60%;
	  }
	  .mail iframe {
		  min-height: 200px;
	  }
	  .quantity-select .entry.value-minus:before, .quantity-select .entry.value-plus:before {
		  margin-left: -4px;
	  }
	  .quantity-select .entry.value-plus:after {
		  margin-top: -4px;
	  }
	  .checkout-left-basket {
		  width: 55%;
	  }
	  .register h3:before {
		  left: 15%;
	  }
	  .register h3:after {
		  right: 15%;
	  }
	  .single-right-left {
		  float: none;
		  width: 60%;
	  }
	  .single-right-left:nth-child(2) {
		  width: 100%;
		  margin:2em 0 0;
	  }
	  .single-right-left h3 {
		  font-size: 1.6em;
	  }
	  .single-right-left h4 {
		  font-size: 1.3em;
	  }
	  .colr {
		  margin-right: 2em;
	  }
	  .add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
		  width: 48.3%;
	  }
	   .imagezoom-view {
		  display: none;
	  }
  }
  @media (max-width:600px){
	  .header-grid-left ul li {
		  margin: 0 0.6em;
	  }
  }@media (max-width:568px){
	  .header-right {
		  width: 23%;
	  }
	  .sb-search {
		  right: 23%;
	  }
	  .logo-nav-left1 {
		  width: 33%;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 74%;
	  }
	  .header-grid-left ul li {
		  margin: 0 0.3em;
	  }
  }
  @media (max-width:480px){
	  .header-grid-left,.header-grid-right {
		  float: none;
		  text-align: center;
	  }
	  .header-grid-right {
		  margin: 1em 0 0;
	  }
	  .header-grid-left ul li {
		  margin: 0 0.7em;
	  }
	  .logo-nav-left {
		  float: none;
		  text-align: center;
	  }
	  .navbar-toggle {
		  float: left;
	  }
	  .sb-search {
		  right:30%;
	  }
	  .header-right {
		  width: 30%;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 67%;
	  }
	  .logo-nav-left1 {
		  width: 65%;
	  }
	  .banner-info h3 {
		  font-size: 2em;
	  }
	  .banner-info h4 {
		  font-size: 1.8em;
		  margin: 0em 0 0 3.5em;
	  }
	  .banner-info1 p {
		  width: 100%;
	  }
	  .banner-info {
		  margin: 3em 0 0;
	  }
	  .banner {
		  min-height: 325px;
	  }
	  .banner-wrap {
		  padding: 0px 0 3em;
	  }
	  .banner-bottom-grid-right, .banner-bottom-grid-left1 {
		  width: 76%;
	  }
	  .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
		  font-size: 1.8em;
	  }
	  .new-collections h3:before, .new-collections h3:after, h3.title:before, h3.title:after, .mail h3:before, .mail h3:after, .single-related-products h3:before, .single-related-products h3:after, .login h3:before, .login h3:after, .register h3:before, .register h3:after {
		  width: 20%;
	  }
	  .new-collections h3:before, .single-related-products h3:before {
		  left: 2%;
	  }
	  .new-collections h3:after, .single-related-products h3:after {
		  right: 2%;
	  }
	  .banner-bottom, .new-collections, .checkout, .collections-bottom, .timer, .register, .products, .typo, .mail, .single, .login, .single-related-products {
		  padding: 2em 0;
	  }
	  .new-collections-grid, .products-right-grids-bottom-grid {
		  width: 72%;
	  }
	  p.est {
		  width: 100%;
	  }
	  .new-collections-grid1-image-width:before {
		  height: 56% !important;
	  }
	  .new-collections-grid1-image-width:hover:before {
		  height: 50% !important;
	  }
	  .timer-grid-left h3 a {
		  font-size: 1em;
	  }
	  .timer-grid-right {
		  width: 85%;
	  }
	  .collections-bottom-grid h3 {
		  font-size: 1.6em;
	  }
	  .collections-bottom-grids {
		  min-height: 217px;
		  padding: 2.5em 2em 2em;
	  }
	  .newsletter h3 {
		  font-size: 1.6em;
	  }
	  .newsletter {
		  padding: 1.5em;
	  }
	  .newsletter input[type="submit"] {
		  padding: 8px 0;
		  font-size: 14px;
		  width: 21%;
		  margin-left: 1em;
	  }
	  .newsletter input[type="email"] {
		  width: 68%;
	  }
	  .footer-grid h3 {
		  font-size: 1.5em;
	  }
	  .footer {
		  padding: 2em 0;
	  }
	  .footer-grid {
		  float: none;
		  width: 100%;
	  }
	  .footer-grid:nth-child(2) {
		  margin: 2em 0;
	  }
	  .footer-grid:nth-child(3) {
		  margin: 0em 0 2em;
	  }
	  .footer-grid-sub-grid-right h4 a {
		  font-size: 1.1em;
	  }
	  .footer-grid-sub-grid-right {
		  margin: 3em 0 0;
	  }
	  .footer-logo h2 a {
		  font-size: 1.3em;
	  }
	  .footer-logo h2:before, .footer-logo h2:after {
		  width: 26%;
	  }
	  .footer-logo {
		  margin: 2em 0 2em;
	  }
	  .categories h3, .filter-price h3, .new-products h3 {
		  font-size: 1.2em;
		  letter-spacing: 2px;
	  }
	  .products-left {
		  width: 100%;
	  }
	  .categories {
		  margin: 2em 0;
	  }
	  .men-position {
		  margin: 2em 0 0;
	  }
	  .sorting-left {
		  width: 40%;
	  }
	  .sorting {
		  width: 50%;
	  }
	  .products-right-grids-position1 h4 {
		  width: 75%;
		  font-size: 1.2em;
	  }
	  .products-right-grids-position1 {
		  top: 22%;
	  }
	  ul.paging {
		  margin: 3em auto 0;
	  }
	  h3.title:before, .login h3:before {
		  left: 8%;
	  }
	  h3.title::after, .login h3:after {
		  right: 8%;
	  }
	  .mail h3:before {
		  left: 14%;
	  }
	  .mail h3:after {
		  right: 14%;
	  }
	  .mail-grid-left input[type="submit"] {
		  font-size: 14px;
		  width: 100%;
	  }
	  .mail-grid-right {
		  width: 80%;
	  }
	  .timetable_sub th, .timetable_sub td {
		  display: block;
	  }
	  .timetable_sub th {
		  border-right: none;
		  border-bottom: 1px solid #A95832;
	  }
	  td.invert-image a img {
		  width: 50%;
	  }
	  .timetable_sub td {
		  border: none;
	  }
	  tr.rem1,tr.rem2,tr.rem3 {
		  border: 1px solid #D7D7D7;
		  padding-bottom: 2em;
		  display: block;
		  border-top:none;
	  }
	  .close1, .close2, .close3 {
		  right: 190px;
		  top: -4px;
	  }
	  .quantity-select .entry.value-plus:after {
		  margin-top: -5px;
	  }
	  .quantity-select .entry.value-minus:before, .quantity-select .entry.value-plus:before {
		  margin-left: -3px;
	  }
	  .checkout-left-basket {
		  width: 100%;
		  float: none;
	  }
	  .checkout-right-basket {
		  float: none;
		  margin: 2em 0 0 0em;
		  text-align: center;
	  }
	  .single-right-left {
		  width: 90%;
	  }
	  .colr {
		  margin-right: 1em;
	  }
	  .bootstrap-tab {
		  margin: 3em 0 0;
	  }
	  .bootstrap-tab-text p span {
		  margin: 1em 0 0;
	  }
	  .bootstrap-tab-text h5, .add-review h4 {
		  margin: 2em 0 1em;
	  }
	  .add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
		  width: 100%;
	  }
	  .add-review input[type="email"] {
		  margin: 1em 0 0;
	  }
	  .add-review input[type="submit"] {
		  width: 100%;
		  font-size: 14px;
	  }
	  .login-form-grids {
		  width: 95%;
		  margin: 2em auto 0;
		  padding: 2em;
	  }
	  .login h4 {
		  margin: 1.5em 0 0.5em;
		  font-size: 1.1em;
	  }
	  .bootstrap-tab-text-grid:nth-child(2) {
		  margin: 2em 0 0;
	  }
	  .register h3:before {
		  left: 5%;
	  }
	  .register h3:after {
		  right: 5%;
	  }
  }
  @media (max-width: 414px){
	  .header-right {
		  width: 33%;
	  }
	  .sb-search {
		  right: 36%;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 63%;
	  }
	  .footer-grid-sub-grid-right h4 a {
		  font-size: 0.9em;
	  }
	  .banner-info h4 {
		  font-size: 1.5em;
	  }
	  .wmuSliderPagination a {
		  width: 35px;
	  }
	  .wmuSliderPagination {
		  left: 60%;
	  }
	  .banner-info {
		  margin: 2em 0 0;
	  }
	  .banner-info1 p {
		  font-size: 1em;
	  }
	  .banner-wrap {
		  padding: 0px 0 2em;
	  }
	  .banner {
		  min-height: 265px;
	  }
	  .banner-bottom-grid-right, .banner-bottom-grid-left1 {
		  width: 90%;
	  }
	  .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
		  font-size: 1.6em;
	  }
	  .new-collections-grid, .products-right-grids-bottom-grid {
		  width: 80%;
	  }
	  .new-collections-grid1-image-width:before {
		  height: 50% !important;
	  }
	  .new-collections-grid1-image-pos1 {
		  left: 27% !important;
	  }
	  .new-collections-grid1-right-rate {
		  left: 31.5% !important;
		  bottom: 25% !important;
	  }
	  .collections-bottom-grids {
		  background: url('/assets/Images/CreateWorkInspire.jpg') no-repeat -120px 0px;
		  background-size: cover;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  -ms-background-size: cover;
	  }
	  .newsletter input[type="email"] {
		  width: 92%;
		  margin: 0 0 .5em;
	  }
	  .newsletter input[type="submit"] {
		  width: 40%;
		  margin-left: 0;
	  }
	  .collections-bottom-grid {
		  margin-left: 0;
	  }
	  .footer-grid-sub-grid-right {
		  margin: 1em 0 0;
	  }
	  .breadcrumb1{
		  margin:0 !important;
	  }
	  .bootstrap-tab ul li a {
		  padding: 9px;
	  }
	  .bootstrap-tab-text-grid-right p {
		  margin: 1em 0 0;
	  }
	  .sorting-left {
		  width: 45%;
		  margin-right: 1em;
	  }
	  .products-right-grids-position1 h4 {
		  width: 90%;
	  }
	  .products-right-grids-position1 p {
		  font-size: 12px;
	  }
	  .products-right {
		  padding: 0;
	  }
	  .mail-grid-right {
		  width: 100%;
	  }
	  .mail-grids {
		  margin: 2em 0;
	  }
  }
  @media (max-width:384px){
	  .header-right {
		  width: 32%;
	  }
	  .sb-search {
		  right: 35%;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 64%;
	  }
	  .logo-nav {
		  padding: 0.5em 0 1em;
	  }
	  .header-grid-left ul li {
		  margin: 0 0.7em .5em;
	  }
	  .header-grid-right {
		  margin: 0.5em 0 0;
	  }
  }
  @media (max-width: 375px){
	  .header-right {
		  width:37%;
	  }
	  .logo-nav-left1 {
		  width: 63%;
	  }
	  .sb-search {
		  right: 39%;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width: 60%;
	  }
	  .banner-bottom-grid-right, .banner-bottom-grid-left1 {
		  width: 100%;
	  }
	  .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
		  font-size: 1.5em;
	  }
	  .new-collections-grid, .products-right-grids-bottom-grid {
		  width: 90%;
	  }
	  .new-collections-grid1-image-pos {
		  left: 26% !important;
	  }
	  .new-collections-grid1-right {
		  left: 31% !important;
	  }
	  .timer-grid-left,.products-left,.single-right,.single-right-left:nth-child(2),.mail-grid-left,.mail iframe{
		  padding: 0;
	  }
	  .timer-grid-left h3 a {
		  font-size: .9em;
	  }
	  .timer-grid-right {
		  width: 100%;
		  margin: 1em auto 0;
	  }
	  .collections-bottom-grid {
		  padding: 1em;
	  }
	  .men-position-pos h4 {
		  font-size: 1.8em;
	  }
	  .men-position-pos h4:after {
		  right: 10%;
	  }
	  .single-right-left h3 {
		  font-size: 1.5em;
	  }
	  .bootstrap-tab-text-grid-right ul li a {
		  font-size: 14px;
	  }
	  .bootstrap-tab-text h5, .add-review h4 {
		  font-size: 1.1em;
	  }
	  .men-position-pos {
		  top: 25%;
	  }
	  .checkout h3 {
		  font-size: 14px;
		  margin: 0 0 2em;
		  line-height:1.5em;
	  }
	  .close1, .close2, .close3 {
		  right: 143px;
	  }
	  .login-form-grids {
		  width: 100%;
		  padding: 1em;
	  }
  }
  @media (max-width: 320px){
	  .header-grid-left ul li {
		  margin: 0 0.7em 0em;
		  font-size: 13px;
	  }
	  .logo-nav-left h1 a {
		  font-size: 1em;
	  }
	  .header-right {
		  width: 45%;
	  }
	  .logo-nav-left1 {
		  width:55%;
	  }
	  .sb-search {
		  right: 4%;
		  margin-top: 0.5em;
	  }
	  .sb-search.sb-search-open, .no-js .sb-search {
		  width:90%;
	  }
	  .sb-search-input {
		  font-size: 13px;
		  padding-left: .5em;
		  padding-right: 3em;
	  }
	  .banner-info h3 {
		  font-size: 1.7em;
	  }
	  .banner-info1 p {
		  font-size: 13px;
	  }
	  .wmuSliderPagination {
		  left: 50%;
	  }
	  .banner {
		  min-height: 240px;
	  }
	  ul.multi-column-dropdown h6 {
		  font-size: 1.1em;
	  }
	  .dropdown-menu.columns-3 {
		  padding: 0 0.5em;
	  }
	  .grid figure {
		  min-width: 270px;
	  }
	  .grid figure figcaption {
		  padding: 1.5em;
	  }
	  .banner-bottom-grid-left1-pos1 {
		  padding: 1.3em;
	  }
	  .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
		  font-size: 1.3em;
	  }
	  .new-collections h3:before, .single-related-products h3:before {
		  left: 0%;
	  }
	  .new-collections h3:after, .single-related-products h3:after {
		  right: 0%;
	  }
	  p.est,.new-collections-grid1 p,.bootstrap-tab-text p,.description p,.color-quality-left ul li a,label.radio,.copy-right p,.categories ul li,.footer-grid-sub-grid-right p,.new-collections-grid1-left p a,.footer-grid ul li,.footer-grid p, .occasion-cart a,.timer-grid-left-price h4 {
		  font-size: 13px;
	  }
	  .bootstrap-tab-text h5, .add-review h4 {
		  font-size: 1em;
		  margin: 1.5em 0 0.7em;
	  }
	  .bootstrap-tab ul li a {
		  font-size: 14px;
	  }
	  .color-quality-left,.color-quality-right {
		  float: none;
	  }
	  .description {
		  margin: 2em 0 1em;
	  }
	  .color-quality-right{
		  margin:1em 0 0;
	  }
	  .men-position-pos h4 {
		  font-size: 1.5em;
	  }
	  .men-position-pos h5 {
		  font-size: 1.6em;
	  }
	  .categories ul.cate, .new-products-grids {
		  padding: 1em 1em 2em;
	  }
	  .categories h3, .filter-price h3, .new-products h3 {
		  font-size: 1.1em;
		  letter-spacing: 1px;
	  }
	  .footer-logo h2 a {
		  font-size: 1.1em;
	  }
	  .footer-logo h2:before, .footer-logo h2:after {
		  width: 21%;
	  }
	  .footer-grid-sub-grid-right {
		  margin: 0;
	  }
	  .footer-grid p span {
		  display: initial;
		  margin: 0;
	  }
	  .new-collections-grid, .products-right-grids-bottom-grid {
		  width: 100%;
	  }
	  .new-collections-grid {
		  padding: 0;
	  }
	  .new-collections-grid1:hover:before {
		  height: 66% !important;
	  }
	  .new-collections-grid1-image-width:hover:before {
		  height: 48% !important;
	  }
	  .new-collections-grid1-image-width:before {
		  height: 45% !important;
	  }
	  .timer-grid-right {
		  margin: 2em auto 0;
	  }
	  .timer-grid-right-pos h4 {
		  font-size: 14px;
	  }
	  .collections-bottom-grid h3 {
		  font-size: 1.3em;
	  }
	  /* .collections-bottom-grids {
		  background-image : url('../../assets/12.jpg') no-repeat -80px 0px; 
		  background-size: cover;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  -ms-background-size: cover;
		  min-height: 170px;
		  padding: 1.5em 1em 0em;
	  } */
	  .new-collections-grid1 h4 a{
		  font-size: 14px;
	  }
	  .newsletter h3 {
		  font-size: 1.3em;
	  }
	  .newsletter {
		  padding: 1em;
	  }
	  .newsletter p,.new-products-grid-right h4 a,select#country, select#country1 {
		  font-size: 13px;
	  }
	  .sorting {
		  width: 49%;
	  }
	  .products-right-grids-position1 h4 {
		  width: 93%;
		  font-size: 1em;
	  }
	  .products-right-grids-position1 {
		  top: 5%;
	  }
	  .products-right-grid1-add-cart p, .new-products-grid-right-add-cart p {
		  font-size: 1em !important;
	  }
	  .newsletter input[type="email"] {
		  width: 91%;
		  font-size: 13px;
	  }
	  .newsletter p {
		  margin: .5em 0 0.5em;
	  }
	  .newsletter input[type="submit"] {
		  width: 55%;
		  padding: 5px 0;
		  font-size: 13px;
	  }
	  .footer-grid h3 {
		  font-size: 1.3em;
	  }
	  .footer-grid,.mail-grid-right{
		  padding:0;
	  }
	  .single-right-left {
		  width: 100%;
	  }
	  .single-right-left h4 {
		  font-size: 1.1em;
	  }
	  .add-review input[type="text"],.checkout-left-basket ul li, .add-review input[type="email"],.mail-grid-left input[type="text"], .mail-grid-left input[type="email"], .mail-grid-left textarea, .add-review textarea,.mail-grid-right1 ul.phone-mail li {
		  font-size: 13px;
	  }
	  .checkout-left-basket h4 {
		  padding: .7em;
		  font-size: 1em;
	  }
	  .mail-grid-left textarea {
		  min-height: 135px;
	  }
	  ul.multi-column-dropdown {
		  margin: 1em 0;
	  }
	  .new-products-grid-right {
		  width: 61%;
	  }
	  ul.paging {
		  margin: 2em auto 0;
	  }
	  .mail-grids {
		  margin: 1.5em 0;
	  }
	  .mail iframe {
		  min-height: 140px;
	  }
	  ul.phone-mail {
		  margin: 0 0 1em;
	  }
	  .mail-grid-right1 ul.phone-mail li {
		  margin-bottom: .5em;
	  }
	  .close1, .close2, .close3 {
		  right: 114px;
	  }
	  .checkout-right-basket a {
		  font-size: 14px;
	  }
	  .login-form-grids h5, .login-form-grids h6 {
		  margin: 0 0 1.5em;
	  }
	  .login-form-grids {
		  margin: 1.5em auto 0;
	  }
	  .login-form-grids input[type="email"],.forgot a,.register-check-box label, .login-form-grids input[type="password"], .login-form-grids input[type="text"]{
		  font-size:13px;
	  }
	  .forgot {
		  margin: 1em 0 0;
	  }
	  .login-form-grids h6 {
		  margin: 2em 0 1.5em !important;
	  }
	  .login-form-grids input[type="submit"],.register-home a {
		  font-size: 14px;
	  }
	  .login h4 {
		  font-size: 1em;
	  }
	  .login p {
		  font-size: 12px;
	  }
	  .logo-nav-left {
		  float: left;
		  text-align: left;
	}
	ul.social-icons li a.facebook{
	  background: url(../../assets/img-sp.png) no-repeat -2px -5px;
		display: block;
		width: 20px;
		height: 20px;
	}
	ul.social-icons li a.facebook:hover{
	  background: url(../../assets/img-sp.png) no-repeat -2px -54px;
		display: block;
	}
	ul.social-icons li a.twitter{
	  background:url(../../assets/img-sp.png) no-repeat -49px -13px;
		display: block;
		width: 20px;
		height: 20px;
	}
	ul.social-icons li a.twitter:hover{
	  background:url(../../assets/img-sp.png) no-repeat -49px -54px;
		display: block;
	}
	ul.social-icons li a.g{
	  background:url(../../assets/img-sp.png) no-repeat -94px -12px;
		display: block;
		width: 20px;
		height: 20px;
	}
	ul.social-icons li a.g:hover{
	  background:url(../../assets/img-sp.png) no-repeat -94px -54px;
		display: block;
	}
	ul.social-icons li a.instagram{
	  background:url(../../assets/img-sp.png) no-repeat -139px -12px;
		display: block;
		width: 20px;
		height: 20px;
	}
	ul.social-icons li a.instagram:hover{
	  background:url(../../assets/img-sp.png) no-repeat -139px -52px;
		display: block;
	}
  
  
  }
  
  
  /* generic css */
  
  .view {
	  margin: 0px;
	  float: left;
	  border: 2px solid #fff;
	  overflow: hidden;
	  position: relative;
	  text-align: center;
	  cursor: default;
	  background: #fff no-repeat center center
	}
	
	.view .mask,
	.view .content {
	  width: 300px;
	  height: 200px;
	  position: absolute;
	  overflow: hidden;
	  top: 0;
	  left: 0
	}
	
	.view img {
	  display: block;
	  position: relative
	}
	
	.view h2 {
	  text-transform: uppercase;
	  color: #fff;
	  text-align: center;
	  position: relative;
	  font-size: 17px;
	  font-family: Raleway, serif;
	  padding: 10px;
	  /*background: rgba(0, 0, 0, 0.8);*/
	  margin: 20px 0 0 0
	}
	
	.view p {
	  font-family: Merriweather, serif;
	  font-style: italic;
	  font-size: 14px;
	  position: relative;
	  color: #fff;
	  padding: 0px 20px 0px;
	  text-align: center
	}
	
	.view a.info {
	  display: inline-block;
	  text-decoration: none;
	  padding: 7px 14px;
	  background: #000;
	  color: #fff;
	  font-family: Raleway, serif;
	  text-transform: uppercase;
	  box-shadow: 0 0 1px #000
	}
	
	.view a.info:hover {
	  box-shadow: 0 0 5px #000
	}
	
	
	/*1*/
	
	.view-first img {
	  /*1*/
	  transition: all 0.2s linear;
	  width: 300px;
	  height: 200px;
	}
	
	.view-first .mask {
	  opacity: 0;
	  background-color: rgba(58, 1, 132, 0.44);
	  transition: all 0.4s ease-in-out;
	}
	
	.view-first h2 {
	  transform: translateY(-100px);
	  opacity: 0;
	  font-family: Raleway, serif;
	  transition: all 0.2s ease-in-out;
	}
	
	.view-first p {
	  transform: translateY(100px);
	  opacity: 0;
	  transition: all 0.2s linear;
	}
	
	.view-first a.info {
	  opacity: 0;
	  transition: all 0.2s ease-in-out;
	}
	
	
	/* */
	
	.view-first:hover img {
	  transform: scale(1.1);
	}
	
	.view-first:hover .mask {
	  opacity: 1;
	}
	
	.view-first:hover h2,
	.view-first:hover p,
	.view-first:hover a.info {
	  opacity: 1;
	  transform: translateY(0px);
	}
	
	.view-first:hover p {
	  transition-delay: 0.1s;
	}
	
	.view-first:hover a.info {
	  transition-delay: 0.2s;
	}
	
	
	/*2*/
	
	.view-second img {
	  transition: all 0.2s ease-in;
	  -webkit-transition: all 0.2s ease-in;
	}
	
	.view-second .mask {
	  background-color: rgba(12, 19, 27, 0.6);
	  width: 300px;
	  padding: 105px;
	  height: 200px;
	  opacity: 0;
	  transform: translate(265px, 145px) rotate(45deg);
	  -webkit-transform: translate(265px, 145px) rotate(45deg);
	  transition: all 0.2s ease-in-out;
	  -webkit-transition: all 0.2s ease-in-out;
	}
	
	.view-second h2 {
	  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	  font-family: Raleway, serif;
	  background: transparent;
	  margin: 20px 40px 0px 40px;
	  -webkit-transform: translate(200px, -200px);
	  transform: translate(200px, -200px);
	  -webkit-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
	}
	
	.view-second p {
	  transform: translate(-200px, 200px);
	  -webkit-transform: translate(200px, -200px);
	  transition: all 0.2s ease-in-out;
	  -webkit-transition: all 0.2s ease-in-out;
	}
	
	.view-second a.info {
	  transform: translate(0px, 100px);
	  -webkit-transform: translate(0px, 100px);
	  transition: all 0.2s 0.1s ease-in-out;
	  -webkit-transition: all 0.2s 0.1s ease-in-out;
	}
	
	
	/* */
	
	.view-second:hover .mask {
	  opacity: 1;
	  transform: translate(-80px, -125px) rotate(45deg);
	  -webkit-transform: translate(-80px, -125px) rotate(45deg);
	}
	
	.view-second:hover h2 {
	  transform: translate(0px, 0px);
	  -webkit-transform: translate(0px, 0px);
	  transition-delay: 0.3s;
	  -webkit-transition-delay: 0.3s;
	}
	
	.view-second:hover p {
	  transform: translate(0px, 0px);
	  -webkit-transform: translate(0px, 0px);
	  transition-delay: 0.4s;
	  -webkit-transition-delay: 0.4s;
	}
	
	.view-second:hover a.info {
	  transform: translate(0px, 0px);
	  -webkit-transform: translate(0px, 0px);
	  transition-delay: 0.5s;
	  -webkit-transition-delay: 0.5s;
	}
	
	
	/*3*/
	
	.view-tenth img {
	  transform: scaleY(1);
	  transition: all .7s ease-in-out;
	}
	
	.view-tenth .mask {
	  background-color: rgba(255, 231, 179, 0.3);
	  transition: all 0.5s linear;
	  opacity: 0;
	  height: 100%;
	  width: 100%;
	}
	
	.view-tenth h2 {
	  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	  background: transparent;
	  margin: 20px 40px 0px 40px;
	  transform: scale(0);
	  color: #333;
	  transition: all 0.5s linear;
	  opacity: 0;
	}
	
	.view-tenth p {
	  color: #333;
	  opacity: 0;
	  transform: scale(0);
	  transition: all 0.5s linear;
	}
	
	.view-tenth a.info {
	  opacity: 0;
	  transform: scale(0);
	  transition: all 0.5s linear;
	}
	
	.view-tenth:hover img {
	  -webkit-transform: scale(10);
	  transform: scale(10);
	  opacity: 0;
	}
	
	.view-tenth:hover .mask {
	  opacity: 1;
	}
	
	.view-tenth:hover h2,
	.view-tenth:hover p,
	.view-tenth:hover a.info {
	  transform: scale(1);
	  opacity: 1;
	}
  
  
  
  
  
  
	.carousel {
		margin-left: 0%;
		margin-right: 0%;
	}
	
	ul.slides {
		display: block;
		position: relative;
		height: 300px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style: none;
	}
	
	.slides * {
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
	}
	
	ul.slides input {
		display: none; 
	}
	
	
	.slide-container { 
		display: block; 
	}
	
	.slide-image {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		opacity: 0;
		transition: all .7s ease-in-out;
	}   
	
	.slide-image img {
		width: auto;
		min-width: 100%;
		height: 100%;
	}
	
	.carousel-controls {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		font-size: 100px;
		line-height: 600px;
		color: #fff;
	}
	
	.carousel-controls label {
		display: none;
		position: absolute;
		padding: 0 20px;
		opacity: 0;
		transition: opacity .2s;
		cursor: pointer;
		top:-144px;
	}
	
	.slide-image:hover + .carousel-controls label{
		opacity: 0.5;
	}
	
	.carousel-controls label:hover {
		opacity: 1;
	}
	
	.carousel-controls .prev-slide {
		width: 49%;
		text-align: left;
		left: 0;
	}
	
	.carousel-controls .next-slide {
		width: 49%;
		text-align: right;
		right: 0;
	}
	
	.carousel-dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		z-index: 999;
		text-align: center;
	}
	
	.carousel-dots .carousel-dot {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #fff;
		opacity: 0.5;
		margin: 10px;
	}
	
	input:checked + .slide-container .slide-image {
		opacity: 1;
		transform: scale(1);
		transition: opacity 1s ease-in-out;
	}
	
	input:checked + .slide-container .carousel-controls label {
		 display: block; 
	}
	
	input#img-1:checked ~ .carousel-dots label#img-dot-1,
	input#img-2:checked ~ .carousel-dots label#img-dot-2,
	input#img-3:checked ~ .carousel-dots label#img-dot-3,
	input#img-4:checked ~ .carousel-dots label#img-dot-4,
	input#img-5:checked ~ .carousel-dots label#img-dot-5,
	input#img-6:checked ~ .carousel-dots label#img-dot-6 {
		opacity: 1;
	}
	
	
	input:checked + .slide-container .nav label { display: block; }
	