<app-header></app-header>

<div class="container">
  <div class="row">
      <div class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs ">
              <li class="active">
                <a href="#tab_default_1" data-toggle="tab">
                Shipping </a>
              </li>
              <li>
                <a href="#tab_default_2" data-toggle="tab">
                Payment </a>
              </li>
              <li>
                <a href="#tab_default_3" data-toggle="tab">
                Review </a>
              </li>
              <li>
                <a href="#tab_default_4" data-toggle="tab">
               Order Complete </a>
              </li>
         
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_default_1">
                <div class="container">
                  <div class="row">
                      <div class="col-sm-6">
                          <h4>Delivery Address</h4>
                          <p>*Required fields</p>
                                <div class="form-group">
                                  <label>First Name</label>
                                  <input class="form-control" id="" placeholder="" name="FirstName">
                                </div>
                                <div class="form-group">  
                                  <label>Surname</label>
                                  <input class="form-control" id="" placeholder="" name="Surname">
                                </div>
                                
                                <div class="form-group"> 
                                  <label>Company</label>
                                  <input class="form-control" id="" placeholder="" name="Company">
                                </div>
        
                                <div class="form-group">   
                                    <label>Pincode</label>
                                    <input class="form-control" id="" placeholder="" name="Pincode">
                                   </div>
        
                                   <div class="form-group">  
                                      <label>Address Line 1 :</label>
                                      <input class="form-control" id="" placeholder="" name="AddressLine1">
                                      <label>Please provide the number and street.</label>
                                     </div>
        
                                     <div class="form-group">  
                                        <label>*Landmark/Address Line 2:</label>
                                        <input class="form-control" id="" placeholder="" name="AddressLine2">
                                       
                                    </div>
        
                                    <div class="form-group"> 
                                        <label>*City</label>
                                        <input class="form-control" id="" placeholder="" name="City"> 
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="StateOrProvince">* State</label>
                                        <select class="form-control"  id="" name="StateOrProvince">
                                        <option value="">Select A State</option>
                                        <option value="AP">Andhra Pradesh</option>
                                        <option value="AR">Arunachal Pradesh</option>
                                        <option value="AS">Assam</option>
                                        <option value="BR">Bihar</option>
                                        <option value="CT">Chhattisgarh</option>
                                        <option value="GA">Goa</option>
                                        <option value="GJ">Gujarat</option>
                                        <option value="HR">Haryana</option>
                                        <option value="HP">Himachal Pradesh</option>
                                        <option value="JK">Jammu and Kashmir</option>
                                        <option value="JH">Jharkhand</option>
                                        <option value="KA">Karnataka</option>
                                        <option value="KL">Kerala</option>
                                        <option value="MP">Madhya Pradesh</option>
                                        <option value="MH">Maharashtra</option>
                                        <option value="MN">Manipur</option>
                                        <option value="ML">Meghalaya</option>
                                        <option value="MZ">Mizoram</option>
                                        <option value="NL">Nagaland</option>
                                        <option value="OR">Odisha</option>
                                        <option value="PB">Punjab</option>
                                        <option value="RJ">Rajasthan</option>
                                        <option value="SK">Sikkim</option>
                                        <option value="TN">Tamil Nadu</option>
                                        <option value="TG">Telangana</option>
                                        <option value="TR">Tripura</option>
                                        <option value="UT">Uttarakhand</option>
                                        <option value="UP">Uttar Pradesh</option>
                                        <option value="WB">West Bengal</option>
                                        <option value="AN">Andaman and Nicobar Islands</option>
                                        <option value="CH">Chandigarh</option>
                                        <option value="DN">Dadra and Nagar Haveli</option>
                                        <option value="DD">Daman and Diu</option>
                                        <option value="DL">Delhi</option>
                                        <option value="LD">Lakshadweep</option>
                                        <option value="PY">Puducherry</option>
                                        </select>
                                    </div>
        
                                    <div class="form-group">
                                        <label for="Country">* Country</label>
                                        <select  class="form-control" id="Country" name="Countrye">
                                        <option value="">India</option>
                                        <option value="AP">New Zealand </option>
                                        <option value="AR">Austria</option>
                                        <option value="AS">Bahamas</option>
                                        <option value="BR">Italy</option>
                                        <option value="CT">Malawi</option>
                                        </select>
                                    </div>
        
                                    <div class="form-group" role="form">
                                        <label >Phone:</label>
                                        <input class="form-control" id="" placeholder="" type="number" name="Mobile"> 
                                        </div>
        
                                        <div class="row">
                                            <div class="col-sm-12"> 
                                                 <div class="font-weight-bold">Billing Address</div>
                                                 <div class="form-check">
                                                  <label class="form-check-label">
                                                  <input type="checkbox" class="form-check-input" value="">Use my delivery address as my billing address
                                                  </label>
                                                </div>
                                            </div>
                                          </div>
        
                                          <div class="row">
                                              <div class="col-sm-12"> 
                                                   <div class="form-check text-justify">
                                                    <label class="form-check-label font-weight-bold">
                                                    <input type="checkbox" class="form-check-input" value="">Receive a delivery notice by text message. Ensure that you have entered a valid mobile number with the country code above. (e.g., IN +91 123 456 7890)
                                        
                                                    </label>
                                                  </div>
                                              </div>
                                            </div>
        
                                            <div class="row">
                                                <div class="col-sm-12"> 
                                                    <div class="font-weight-bold">Create an account or sign in</div>
                                                    <div class="form-group">
                                                      <label >Email:</label>
                                                      <input  class="form-control"  name="email">
                                                    </div>
                                                    <div class="form-group text-justify">
                                                      <label >Password</label>
                                                      <input type="password" class="form-control"  name="pswd">
                                                      Registering your email address with us enebles us to send you
                                              confirmation emails, special offers from Vistaprint, and to manage
                                              your stored designs. You can change your contact preferences and 
                                              Unsubscribe from receiving offers at any time in the "My Account"
                                              section or by using the unsubscribe link at the bottom of our emails.
                                              Read our full orivacy policy here. <a class="text-primary">Privacy and Security</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12"><button type="button" class="btn btn-success float-right">Next</button></div>
                                                  </div> 	  
                                              </div>
                                </div>
        
                                
        
                  </div>
                </div>
                
              </div>
              <div class="tab-pane" id="tab_default_2">
                  <div class="container">
                      <p class="font-weight-bold">Select a payment method and click on ‘Next’ below.</p>          
                      <table class="table table-hover">
                          <tr>
                            <td>                        
                                <label class="form-check-label" for="radio1">
                                <input type="radio" id="radio1" name="optradio" value="option1" checked> Credit Card
                              </label>
                             </td>
                            <td><label for="radio1"><img src="images/mastercard.png" width="50" height="50"></label></td>
                          </tr>
                          <tr>
                            <td>
                                <label class="form-check-label" for="radio2">
                                <input type="radio" id="radio2" name="optradio" value="option2"> Debit Cards
                                </label>       
                            </td>
                            <td><label for="radio2"><img src="images/itzcash.png" width="50" height="50"></label></td>
                          </tr>
                          
                          <tr>
                            <td>
                                <label class="form-check-label" for="radio3">
                                <input type="radio" id="radio3" name="optradio" value="option3"> Net Banking
                                </label>       
                            </td>
                            <td><label for="radio3"><img src="images/itzcash.png" width="50" height="50"></label></td>
                          </tr>
                          
                          <tr>
                            <td>
                                <label class="form-check-label" for="radio4">
                                <input type="radio" id="radio4" name="optradio" value="option4"> Mobile Payments
                                </label>       
                            </td>
                            <td><label for="radio4"><img src="images/itzcash.png" width="50" height="50"></label></td>
                          </tr>
                          
                          <tr>
                            <td>
                                <label class="form-check-label" for="radio5">
                                <input type="radio" id="radio5" name="optradio" value="option5"> Wallet 
                                </label>       
                            </td>
                            <td><label for="radio5"><img src="images/itzcash.png" width="50" height="50"></label></td>
                          </tr>
                          
                          <tr>
                            <td>
                                <label class="form-check-label" for="radio6">
                                <input type="radio" id="radio6" name="optradio" value="option6"> Cash on Delivery
                                </label>       
                            </td>
                            <td><label for="radio6"><img src="images/itzcash.png" width="50" height="50"></label></td>
                          </tr>
                                      
                          <tr>
                            <td>
                                <label class="form-check-label" for="radio7">
                                <input type="radio" id="radio7" name="optradio" value="option7"> Option 2
                                </label>       
                            </td>
                            <td><label for="radio7"><img src="images/itzcash.png" width="50" height="50"></label></td> 
                          </tr>
                          
                          <tr>
                            <td>
                                <label class="form-check-label" for="radio8">
                                <input type="radio" id="radio8" name="optradio" value="option8"> Option 2
                                </label>       
                            </td>
                            <td><label for="radio8"><img src="images/itzcash.png" width="50" height="50"></label></td>
                          </tr>                
                      </table> 
                    </div>
                    
                    
                    <div class="container">
                      <div class="row">
                            <div class="col-sm-12">
                                    <div class="font-weight-bold">Enter your GSTIN details</div>
                                    <div class="small">Enter your GSTIN to claim GST on this order.</div>
                                    <div class="text-secondary">
                                        <p class="lead">GST Registration No.:</p>
                                        <div class="form-inline" role="form">
                                        <input type="text" class="form-control mb-2 mr-sm-2" id="phone"> 
                                        <button type="button" class="btn btn-primary mb-2">?</button>
                                        </div>
                                    </div>
                                    <p>Company Name: c<br/>
                                    Ensure GSTIN Registration number is inline with your billing address state</p>
                                </div>
                         </div>
                         
                         
                    <div class="row">
                      <div class="col-sm-12">
                            <div class="form-check-inline">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">I am a business with a valid GST Registration number. I understand that no changes can be made to any of the above post checkout. This selection will apply to all future orders unless changed before checkout.
                              </label>
                            </div> 
                        </div>
                    </div>
                    
                        <div class="row">
                            <div class="col-sm-12">&nbsp;</div>
                        </div>  
                    
                        <div class="row border-top">
                            <div class="col-sm-12"><p class="padding_top">I hereby declare that the GSTIN details furnished above are true and correct. <button type="button" class="btn btn-outline-success">Apply</button></p> </div>
                        </div>   
                        
                         <div class="row border-top">
                            <div class="col-sm-12">
                              <div class="padding_top float-right">You'll be able to review this order before it's final.</div> 
                             </div>
                            <div class="col-sm-12">
                              <div class="padding_top float-right"><button type="button" class="btn btn-outline-success float-sm-right">Next</button></div> 
                             </div>         
                        </div> 
                        
                        <div class="row">
                        <div class="col-sm-12">&nbsp;</div>
                        </div>     
                         
                    </div>
           
              </div>
              <div class="tab-pane" id="tab_default_3">
                <p>
                  Howdy, I'm in Tab 3.
                </p>
                <p>
                  Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                </p>
                <p>
                  <a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
                    Learn more...
                  </a>
                </p>
              </div>
            
            </div>
          </div>
        </div>
  </div>
</div>



<img *ngFor='let url of urls'  [src]="url" height="200"> <br/>

<input type='file' (change)="onSelectFile($event)" multiple>
<button type="button" class="btn btn-success btn-s" (click)="addProduct()">
  Add Image
</button>

<app-footer></app-footer>